{% extends "gene_function/gene_function.html" %}

{% block title %}<title>Gene Info</title>{% endblock %}
{% block custom_style %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href= "https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <style>
        .table_padding {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 1vh;
        }
        /* Add this to make the DataTable pagination centered */
        .dataTables_wrapper .dataTables_paginate {
            float: none;
            text-align: left;
        }
        .table-container table {
            margin-left: auto;
            margin-right: auto;
        }
        tr, th {
            font-size: 1em;
            text-align: left;
            vertical-align: middle
        }
        td {
            font-size: 0.9em;
            padding: 0.45em;
            width: 14.2%;
            height: 50px;
            padding-top: 0px !important;
            padding-bottom: 0px !important;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .expanded-row td {
            white-space: normal;
            word-wrap: break-word;
        }
        .dataTables_wrapper .dataTables_filter {
            display: block;
        }
        .dataTables_wrapper thead th {
            text-align: left;
            vertical-align: middle;
            padding: 0.3em;
            position: relative;
        }
        .dataTables_wrapper thead th input {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            margin-bottom: 0.45em;
        }
        .dataTables_wrapper tbody td {
            text-align: left;
            vertical-align: top;
            padding: 0.45em;
            word-break: break-word;
        }
        .dataTables_wrapper .dataTables_filter {
            text-align: left;
        }
        .dataTables_wrapper .dataTables_filter input {
            width: 100%;
            max-width: 16em;
            margin: 0 auto;
        }
        #table-container .dataTables_paginate {
            display: flex;
            justify-content: center;
            margin-top: 15px !important;
        }
    </style>
{% endblock %}

{% block content %}
    <h2 style = 'text-align: center; font-size: 1.6em;'>Gene <i>{{request.GET.gene}}</i></h2>
    <div class="table_padding overflow-auto">
        <form action="{% url 'download_gene_info_table_csv' %}" method="GET">
            <input type="hidden" name="species" value="{{ request.GET.species }}" />
            <input type="hidden" name="gene" value="{{ request.GET.gene }}" />
            <!-- The button styles from Bootstrap:
            https://getbootstrap.com/docs/5.3/components/buttons/ -->
            <button class="btn btn-primary" type="submit">Download CSV</button>
        </form>
        <div style="width:90%;">
            <table id="gene_info" class="table table-hover overflow-auto" style="width:100%; table-layout: fixed;">
                <thead>
                <tr>
                    <th>Locus Tag</th>
                    <th>Genome ID</th>
                    <th>Protein</th>
                    <th>Start Position</th>
                    <th>End Position</th>
                    <th>Nucleotide Seq</th>
                    <th>Amino Acid Seq</th>
                    <th>Pathways</th>
                </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>
    </div>
    <h3 id = 'AA_pos_overview_figure' style = 'text-align: center; padding-top: 5vh; font-size: 1.6em;'; ></h3>
    <div class="table_padding overflow-auto">
        <div style="width:70%;">
            <iframe id = 'AA_pos_overview' style="width: 100%; height: 60vh; padding-top: 0px"></iframe>
        </div>
    </div>
    </div>
    <br>
    <h3 id = 'MSA_figure' style = 'text-align: center; font-size: 1.6em;'></h3>
    <div class="table_padding overflow-auto">
        <div style="width:90%;">
            <iframe id = 'MSA' style="width: 100%; height: 100vh; padding-top: 1vh"></iframe>
        </div>
    </div>
    </div>

    <!-- Datatable -->
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const species = urlParams.get('species');
        const gene = urlParams.get('gene');
        const gene_class = urlParams.get('gene_class');

        document.addEventListener('DOMContentLoaded', async function() {
            try {
                let geneData = {{ dataset | safe }}; // Convert the data object to an array for DataTables

                let table = $('#gene_info').DataTable({
                    data: geneData,
                    columns: [
                        { data: 'locus_tag' },
                        {
                            data: 'genome_id',
                            render: function(data, type, row) {
                                return '<a href="{% url 'genome_info' %}?species=' + encodeURIComponent(species) + '&genome_id=' + encodeURIComponent(data) + '" target="_blank">' + data + '</a>';
                            }
                        },
                        { data: 'protein' },
                        { data: 'start_position' },
                        { data: 'end_position' },
                        { data: 'nucleotide_seq' },
                        { data: 'aminoacid_seq' },
                        { data: 'pathways' }
                    ],
                    language: {
                        emptyTable: 'Loading...'
                    },
                    order: [],
                    bSort: true,
                    searching: true
                });
            } catch (error) {
                console.error('Error:', error);
            }

            // Expand or collapse a table row on click: ----
            $('#gene_info tbody').on('click', 'td', function () {
                let row = $(this).closest('tr')
                row.toggleClass('expanded-row');
            });

            if (gene_class !== 'Core') {
                document.getElementById('AA_pos_overview_figure').style.display = 'none';
                document.getElementById('AA_pos_overview').style.display = 'none';
                document.getElementById('MSA_figure').style.display = 'none';
                document.getElementById('MSA').style.display = 'none';
            }
        });

        document.getElementById('MSA_figure').innerHTML= 'Multiple Sequence Alignment of ' + '<b>' +  gene  + '</b>'
        const MSA = document.getElementById('MSA');
        MSA.src = "{% url 'msa' %}?species=" + species + '&' + 'gene=' + gene;

        document.getElementById('AA_pos_overview_figure').innerHTML= 'Dominant and Variant Amino Acid Position Overview of ' + '<b>' +  gene  + '</b>'
        const AA_pos_overview = document.getElementById('AA_pos_overview');
        AA_pos_overview.src = "{% url 'aa_pos_overview' %}?species=" + species + '&' + 'gene=' + gene;
    </script>
{% endblock %}
