{% extends "index_with_infopanel.html" %}
{% block page_title %}Gene Info{% endblock %}

{% block header_load_datatables %}{% include 'tables/load_datatables.html' %}{% endblock %}

{% block header_content %}
{% include "navigation.html" with active_page="organisms" %}
{% include "search/search.html" %}
<style>
    .responsive-iframe-msa > iframe {
        width: 100%;
        height: 780px;
    }
</style>
{% endblock %}

{% block infopanel_content %}
{% include 'gene_function/info_panel_gene_info.html' %}
{% endblock %}

{% block main_content %}
<div class="container-fluid ps-2 pe-2 ps-md-3 pe-md-3" data-bs-spy="scroll" data-bs-target="#page-nav" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true">
    <div class="row g-3 pb-4">
        {% include 'components/panel_locustags_table.html' with panel_name="locustags_table" panel_title="Locus Tag Table" panel_class="col-lg-12" %}

        {% url 'aa_pos_overview' as url_aa_pos_overview %}
        {% include 'components/panel_iframe.html' with panel_name="aa_pos_overview" panel_title="Dominant and Variant Amino Acids" panel_iframe_src=url_aa_pos_overview|add:"?species="|add:request.GET.species|add:"&gene="|add:request.GET.gene panel_iframe_class='responsive-iframe-wide' panel_class='col-lg-12' %}
        
        {% url 'msa' as url_msa %}
        {% if deferred_msa_load %}
        {% include 'components/panel_iframe_deferred_load.html' with panel_name="msa" panel_title="Multiple Sequence Alignment" panel_iframe_src=url_msa|add:"?species="|add:request.GET.species|add:"&gene="|add:request.GET.gene panel_class='col-lg-12' panel_iframe_class='responsive-iframe-msa' %}
        {% else %}
        {% include 'components/panel_iframe.html' with panel_name="msa" panel_title="Multiple Sequence Alignment" panel_iframe_src=url_msa|add:"?species="|add:request.GET.species|add:"&gene="|add:request.GET.gene panel_class='col-lg-12' panel_iframe_class='responsive-iframe-msa' %}
        {% endif %}
    </div>
</div>
{% endblock %}