{% extends "pangenome_analyses/info_panel.html" %}

{% block info_panel_titles %}
<h5 class="card-title display-5">{{ dataGenome.genome_id }}</h5>
<h6 class="card-subtitle mb-2 text-body-secondary display-6 pt-1"><a style="color: var(--bs-body-secondary-color); text-decoration-color: var(--bs-body-secondary-color) !important;" href="{% url 'pangenome_analyses_overview' %}?species={{ dataGenome.pangenome_analysis }}">{{ dataGenome.species }}</a></h6>
{% endblock %}

{% block info_panel_nav %}{% endblock %}

{% block info_panel_content %}
<dl class="row g-1 fs-3">
    <dt class="col-sm-12">Strain (<a href="https://www.ncbi.nlm.nih.gov/datasets/genome/{{dataGenome.genome_id|safe}}" target="_blank">NCBI</a>)</dt>
    <dd class="col-sm-12">{{ dataGenome.strain }}</dd>
    <dt class="col-sm-6">Phylogroup</dt>
    <dd class="col-sm-6">{{ dataGenome.phylo_group }}</dd>

    <dt class="col-sm-12">Isolation Source</dt>
    <dd class="col-sm-12">{{ dataGenome.isolation_source }}</dd>
    <dt class="col-sm-12">Isolation Source Categories</dt>
    <dd class="col-sm-12">
      <ol class="breadcrumb" style="--bs-breadcrumb-divider: '>';">
        {% for category in dataGenome.iso_cat %}
        <li class="breadcrumb-item">{{ category }}</li>
        {% endfor %}
      </ol>    
    </dd>
    <dt class="col-sm-6">Country</dt>
    <dd class="col-sm-6">{{ dataGenome.country }}</dd>
    <dt class="col-sm-6">Region</dt>
    <dd class="col-sm-6">{{ dataGenome.geo_loc_name }}</dd>
    <dt class="col-sm-6">GC Content</dt>
    <dd class="col-sm-6">{{ dataGenome.gc_content | floatformat:3 }}</dd>
    <dt class="col-sm-6">Genome Length</dt>
    <dd class="col-sm-6">{{ dataGenome.genome_len }}</dd>
    <dt class="col-sm-6">Number of Genes</dt>
    <dd class="col-sm-6">{{ dataGenome.num_genes }}</dd>

    <dt class="col-sm-12">Gene Class Distribution</dt>
    <dd class="col-sm-12">
        <div style="display: flex; height: 1.2em; max-width: 80%; margin: 0; border-radius: 0.6em; overflow: hidden;">
        <div style="width: calc(100%*{{ dataGenome.gene_class_distribution.0 }}/{{ dataGenome.num_genes }}); background-color: rgba(128,0,128,0.8);" data-toggle="tooltip" title="Core: {{ dataGenome.gene_class_distribution.0 }}"></div>
        <div style="width: calc(100%*{{ dataGenome.gene_class_distribution.1 }}/{{ dataGenome.num_genes }}); background-color: rgba(255,165,0,0.8);" data-toggle="tooltip" title="Accessory: {{ dataGenome.gene_class_distribution.1 }}"></div>
        <div style="width: calc(100%*{{ dataGenome.gene_class_distribution.2 }}/{{ dataGenome.num_genes }}); background-color: rgba(0,128,0,0.8);" data-toggle="tooltip" title="Rare: {{ dataGenome.gene_class_distribution.2 }}"></div>
      </div>
    </dd>
</dl>
{% endblock %}
