{% extends "index_with_infopanel.html" %}
{% block page_title %}Pathway Info{% endblock %}

{% block header_load_datatables %}{% include 'tables/load_datatables.html' %}{% endblock %}

{% block header_content %}
{% include "navigation.html" with active_page="organisms" %}
{% include "search/search.html" %}
{% endblock %}

{% block infopanel_content %}
{% include 'gene_function/info_panel_pathway.html' %}
{% endblock %}

{% block main_content %}
<div class="ps-2 pe-2 ps-md-3 pe-md-3">
{% include 'components/panel_pathway_genes_table.html' with panel_name="pathway_genes_table" panel_title="Genes in Pathway" panel_class="col-lg-12" %}
</div>
<script>
    $(document).ready(async function () {
        if ($(window).height() >= "2100"){
            $('#pathway_genes_table').DataTable().page.len(40).draw();
        } else if ($(window).height() >= "1700"){
            $('#pathway_genes_table').DataTable().page.len(30).draw();
        } else if ($(window).height() >= "1300"){
            $('#pathway_genes_table').DataTable().page.len(20).draw();
        } else {
            $('#pathway_genes_table').DataTable().page.len(10).draw();
        }
    });
</script>
{% endblock %}
