<div class="sticky-top pt-2" style="max-height: 100vh; overflow: auto;">
    <div class="card bg-infopanel">                  
        <div class="list-group" id="page-nav">
            <a class="list-group-item list-group-item-secondary" href="#about">About PanKB</a>
            <a class="list-group-item list-group-item-secondary" href="#usage">Using PanKB</a>
            <a class="list-group-item list-group-item-secondary" href="#pangenomes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pangenomes</a>
            <a class="list-group-item list-group-item-secondary" href="#alleleomes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Alleleomes</a>
            <a class="list-group-item list-group-item-secondary" href="#data_access">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Data Accessibility</a>
            <a class="list-group-item list-group-item-secondary" href="#data_application">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Data Application</a>
            <a class="list-group-item list-group-item-secondary" href="#pankb_llm">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PanKB LLM</a>
            <a class="list-group-item list-group-item-secondary" href="#citing">How to Cite PanKB</a>
            <a class="list-group-item list-group-item-secondary" href="#contact">Contact Us</a>
            <a class="list-group-item list-group-item-secondary" href="#contributors">Contributors</a>
            <a class="list-group-item list-group-item-secondary" href="#funding">Funding</a>
        </div>
    </div>
</div>
