<div class="sticky-top pt-2" style="max-height: 100vh; overflow: auto;">
    <div class="card bg-infopanel">                  
        <div class="list-group" id="page-nav">
            <a class="list-group-item list-group-item-secondary" href="#about_pankb">About PanKB</a>
            <a class="list-group-item list-group-item-secondary" href="#how_to_use">Using PanKB</a>
            <a class="list-group-item list-group-item-secondary" href="#Pangenomes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pangenomes</a>
            <a class="list-group-item list-group-item-secondary" href="#Alleleomes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Alleleomes</a>
            <a class="list-group-item list-group-item-secondary" href="#Data_Accessibility">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Data Accessibility</a>
            <a class="list-group-item list-group-item-secondary" href="#Data_Application">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Data Application</a>
            <a class="list-group-item list-group-item-secondary" href="#PanKB_LLM">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PanKB LLM</a>
            <a class="list-group-item list-group-item-secondary" href="#Tools_Methods">Tools and Methods</a>
            <a class="list-group-item list-group-item-secondary" href="#Contact">Contact Us</a>
            <a class="list-group-item list-group-item-secondary" href="#Funding">Funding</a>
        </div>
    </div>
</div>
