{% extends "index.html" %}
{% block page_title %}Species{% endblock %}
{% block content %}
{% include "navigation.html" with active_page="organisms" %}
{% include "search/search.html" %}

<style>
    .center-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .table_padding {
        width: 100%;  /* adjust this value according to your needs */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .table-responsive {
        width: 100%;  /* make sure it fills its container */
        overflow-x: hidden !important;
        overflow-y: auto !important;
        /* max-height: 100vh; */
        /* padding-left: 2.8em; */
        /* padding-right: 1.1em; */
    }
    tr, th {
        font-size: 1rem;
        text-align: center;
        vertical-align: middle;
    }
    td {
        font-size: 0.9rem;
        text-align: center;
        width: 12.5% !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    tbody td {
        padding: 1.1em !important;  /* adjust as needed */
    }
    thead th {
        /* height: 5em; */
        /* position: relative; */
        text-align: center;
        vertical-align: top;
        padding-right: 0.4em !important;
    }
    thead th input {
        /* position: absolute; */
        /* bottom: 0.55em; */
        width: 50%;
        /* left: 50%; */
        /* transform: translateX(-50%); */
        margin-bottom: 0px;
    }
    .dataTables_wrapper tbody td {
        text-align: center;
        vertical-align: top;
    }
    .expanded-row td {
        white-space: normal;
        word-wrap: break-word;
    }
    table {
        table-layout: fixed;
    }
    div.dataTables_wrapper div.dataTables_paginate ul.pagination li.paginate_button a, #genes_list_paginate {
        font-size: 0.9rem; /* Adjust this value as needed */
    }
    .dataTables_length {
        display: flex;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0.5rem;
    }
    .dataTables_info {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .dataTables_length label {
        display: flex;
        align-items: center;
    }
    .dataTables_length label select {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .dataTables_filter {
        display: flex;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0.5rem;
        flex-direction: column;
        align-items: flex-end;
    }
    .dataTables_filter label {
        display: flex;
        align-items: center;
    }
    .dataTables_filter label input {
        margin-left: 1rem;
        margin-right: 1rem;
    }
</style>

<main class="container-fluid ps-md-4 pe-md-4 pt-3 pb-3">
    <div class="row">
        {% include 'components/panel_species_table.html' with panel_name="species_table" panel_title="Species" panel_class="col-lg-12" %}
    </div>
</div>
</main>
<script>
    $(document).ready(async function () {
        const urlParams = new URLSearchParams(window.location.search);
        const species = urlParams.get('species');

        const dataset = {{ dataset|safe }}

        let table = $('#species_table').DataTable({
            destroy: true,
            data: dataset,
            columns: [
                {
                    data: '0',
                    render: function (data, type, row) {
                        return '<a href="{% url 'organisms' %}?family=' + encodeURIComponent(data) + '">' + data + '</a>';
                    }
                },
                {
                    data: '1',
                    render: function (data, type, row) {
                        return '<a href="{% url 'pangenome_analyses_overview' %}?species=' + encodeURIComponent(row[2]) + '">' + data + '</a>';
                    }
                },
                {data: '3'},
                {data: '4'},
                {
                    data: '5',
                    render: function (data, type, row) {
                        let total = data[0] + data[1] + data[2];
                        let coreWidth = (data[0] / total) * 100;
                        let accessoryWidth = (data[1] / total) * 100;
                        let rareWidth = (data[2] / total) * 100;
                        return `<div style="display: flex; height: 1.2em; max-width: 80%; margin: 0; border-radius: 0.6em; overflow: hidden;">
                        <div style="width: ${coreWidth}%; background-color: rgba(128,0,128,0.8);" data-toggle="tooltip" title="Core: ${data[0]}"></div>
                        <div style="width: ${accessoryWidth}%; background-color: rgba(255,165,0,0.8);" data-toggle="tooltip" title="Accessory: ${data[1]}"></div>
                        <div style="width: ${rareWidth}%; background-color: rgba(0,128,0,0.8);" data-toggle="tooltip" title="Rare: ${data[2]}"></div>
                      </div>`;
                    }
                },
            ],
            language: {
                loadingRecords: 'Loading...',
                zeroRecords: 'Result not found.'
            },
            initComplete: function () {
                const api = this.api();

                // Existing column search code
                $(this.api().table().header()).find('th').each(function (index, th) {
                    const columnHeader = $(th).find('div').first();
                    const columnIndex = index;

                    const searchInput = $('<input type="text" class="form-control form-control-sm" placeholder="Search" style="width: 60%; display: flex;" />')
                        .on('keyup change clear', function () {
                            api.column(columnIndex).search(this.value).draw();
                        })
                        .on('click', function(e) {  // Prevent event bubbling on click
                            e.stopPropagation();
                        });

                    $(searchInput).appendTo(columnHeader);
                });
            },
            drawCallback: function(settings) {
                $('[data-toggle="tooltip"]').tooltip();
                window.scrollTo(0, 0);
            }
        });
    });
</script>
{% endblock %}