{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Alleleome for Gene</title>
    <!-- Include Highcharts -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <style>
        html, body {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        #container {
            height: 90vh;
            width: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    </style>
</head>

<body>
<h3 id = "AA_pos_overview_figure" style = "text-align: center; font-size: 1.6em;"></h3>
<div id = "container"></div>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const species = urlParams.get('species');
    const gene = urlParams.get('gene');

    const template_screen_width = 1334;
    const current_window_Width = window.innerWidth;
    const coefficient = current_window_Width / template_screen_width;

    function renderChart(data, number_of_genome) {
        Highcharts.chart('container', {
            chart: {
                type: 'scatter',
                zoomType: 'xy',
                plotBorderWidth: 1,
                plotBorderColor: '#000000'
            },
            title: {
                text: '',
                style: {
                    fontSize: (1.1 * coefficient) + 'em',
                    color: '#000000'
                },
            },
            xAxis: {
                title: {
                    text: 'Amino Acid Position',
                    style: {
                        fontSize: coefficient + 'em',
                        color: '#000000'
                    }
                },
                labels: {
                    style: {
                        fontSize: (0.9 * coefficient) + 'em',
                        color: '#000000'
                    }
                },
                gridLineWidth: 0,
                minPadding: 0.05,
                maxPadding: 0.05,
                lineWidth: 1,
                tickWidth: 1,
                lineColor: '#000000'
            },
            yAxis: {
                title: {
                    text: 'Number of Genomes',
                    style: {
                        fontSize: coefficient + 'em',
                        color: '#000000'
                    }
                },
                labels: {
                    offset: 10,
                    style: {
                        fontSize: (0.9 * coefficient) + 'em',
                        color: '#000000'
                    }
                },
                gridLineWidth: 0,
                startOnTick: false,
                endOnTick: false,
                min:-(number_of_genome * 0.1),
                minPadding: 1,
                tickWidth: 1,
                lineColor: '#000000'
            },
            legend: {
                align: 'center',
                verticalAlign: 'top',
                layout: 'horizontal',
                // x: 50,
                // y: -20
            },
            tooltip: {
                formatter: function() {
                    return 'Position: ' + this.x + '<br>Number of Genomes: ' + this.y;
                }
            },
            plotOptions: {
                scatter: {
                    marker: {
                        radius: 8,
                        symbol: 'circle',
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            },
            series: [{
                name: 'Variant',
                data: data.filter(item => item.Sequence_type === 'Variant')
                    .map(item => [parseInt(item.AA_pos), parseInt(item.Genome_count)]),
                color: '#EB1D36'
            }, {
                name: 'Dominant',
                data: data.filter(item => item.Sequence_type === 'Dominant')
                    .map(item => [parseInt(item.AA_pos), parseInt(item.Genome_count)]),
                color: '#25316D'
            }],
            credits: {
                enabled: false
            },
        });
    }
    loadDataAndRenderChart();

    async function loadDataAndRenderChart() {

        speciesData = {{ speciesData | safe }}
        // Check if speciesData is available and then proceed
        if (speciesData) {
            const number_of_genome = speciesData.Number_of_genome;

            const data = {{ dataset|safe }}

            // Only plot when the array with data is not empty: ----
            if (data.length > 0) {
                renderChart(data, number_of_genome);
                document.getElementById('AA_pos_overview_figure').innerHTML = "Dominant and Variant Amino Acid Position Overview of <b>" +  gene  + "</b>";
            }
        }
    }
</script>
</body>
</html>