{% extends "index.html" %}
{% block page_title %}Publications{% endblock %}

{% block header_load_datatables %}{% include 'tables/load_datatables.html' %}{% endblock %}

{% block content %}
{% include "navigation.html" with active_page="publications" %}
{% include "search/search.html" %}

<main class="container-wide pb-4 ps-md-4 pe-md-4 pt-3 pb-3">
    <div class="row">
        {% include 'components/panel_publications_table.html' with panel_name="publications_table" panel_title="Publications" panel_class="col-lg-12" %}
    </div>
</div>
</main>
<script>
    $(document).on('preInit.dt', function (e, settings) {
        if ($(window).height() >= "2000"){
            $('#publications_table').DataTable().page.len(40);
        } else if ($(window).height() >= "1600"){
            $('#publications_table').DataTable().page.len(30);
        } else if ($(window).height() >= "1200"){
            $('#publications_table').DataTable().page.len(20);
        } else {
            $('#publications_table').DataTable().page.len(10);
        }
    });
</script>
{% endblock %}