<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        html, body, #container {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
            font-size: 3vw;
        }
    </style>
    <script src="https://code.highcharts.com/highcharts.js"></script>
</head>
<body>
<div id="container"></div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const data = {{ dataset|safe }}
        const categories = Object.keys(data);
        const dataValues = Object.values(data).map(value => {
            return {
                y: value,
                color: '#f0f0f0', // Set the bar color to light grey
                borderColor: 'black', // Set the border color to black
                borderWidth: 1 // Set the border width to make it visible
            };
        });
                Highcharts.chart('container', {

                    chart: {
                        type: 'bar'
                    },
                    title: {
                        text: 'Database Size',
                        style: {
                            fontSize: '1.35rem' // Set your desired font size here
                        }
                    },
                    xAxis: {
                        categories: categories,
                        title: {
                            text: ''
                        },
                        labels: {
                            style: {
                                fontSize: '1.25rem'
                            }
                        }
                    },
                    yAxis: {
                        title: {
                            text: 'Counts',
                            style: {
                                fontSize: '1.25rem'
                            }
                        },
                        type: 'logarithmic',
                        tickInterval: 2,
                        tickWidth: 1,
                        lineWidth: 1,
                        gridLineWidth: 1,
                        labels: {
                            style: {
                                fontSize: '1.25rem'
                            }
                        }
                    },
                    series: [{
                        data: dataValues,
                        pointPadding: 0.15,
                    }],
                    tooltip: {
                        pointFormat: 'Count: <b>{point.y}</b>', // Set tooltip text
                        style: {
                            fontSize: '1.25rem'
                        }
                    },
                    legend: {
                        enabled: false // Hide the legend
                    },
                    credits: {
                        enabled: false
                    }
                });

    });
</script>
</body>
</html>
