<div id="dimension_container" class="plot_container" style="font-size: 3vw;"></div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const data = {{ dimension_dataset|safe }}
        const categories = Object.keys(data).map(value => {
            return value.replace(' ', '\n');
        });
        const dataValues = Object.values(data).map(value => {
            return {
                y: value,
                color: '#f0f0f0', // Set the bar color to light grey
                borderColor: 'black', // Set the border color to black
                borderWidth: 1 // Set the border width to make it visible
            };
        });
                Highcharts.chart('dimension_container', {

                    chart: {
                        type: 'bar'
                    },
                    title: {
                        text: 'Database size',
                        style: {
                            fontSize: '1.0rem' // Set your desired font size here
                        }
                    },
                    xAxis: {
                        categories: categories,
                        title: {
                            text: ''
                        },
                        labels: {
                            style: {
                                fontSize: '0.9rem'
                            }
                        }
                    },
                    yAxis: {
                        title: {
                            text: 'Counts',
                            style: {
                                fontSize: '0.8rem'
                            }
                        },
                        type: 'logarithmic',
                        tickInterval: 2,
                        tickWidth: 1,
                        lineWidth: 1,
                        gridLineWidth: 1,
                        labels: {
                            style: {
                                fontSize: '0.8rem'
                            }
                        }
                    },
                    series: [{
                        data: dataValues,
                        pointPadding: 0.15,
                    }],
                    tooltip: {
                        pointFormat: 'Count: <b>{point.y}</b>', // Set tooltip text
                        style: {
                            fontSize: '0.9rem'
                        }
                    },
                    legend: {
                        enabled: false // Hide the legend
                    },
                    credits: {
                        enabled: false
                    },
                    navigation: {
                        buttonOptions: {
                            enabled: false
                        }
                    }
                });

    });
</script>