<div id="genome_gene_container" class="plot_container"></div>
<script>
    const template_screen_width = 655;
    const current_window_Width = window.innerWidth;
    const coefficient = current_window_Width / template_screen_width;

    console.log('window width = ' + current_window_Width);
    function roundToDecimal(number, decimalPlaces) {
        const factor = Math.pow(10, decimalPlaces);
        return Math.round(number * factor) / factor;
    }

    document.addEventListener('DOMContentLoaded', function() {
        const data = {{ genome_gene_dataset |safe }}
        const highchartsColors = rgbColors.map(rgb => `rgb(${rgb.join(',')})`);

        // const orderedSeriesNames = ['Enterobacteriaceae', 'Lactobacillaceae', 'Bacillaceae', 'Mycobacteriaceae', 'Pseudomonadaceae', 'Streptomycetaceae', 'Burkholderiaceae', 'Anoxybacillaceae'];
        const orderedSeriesNames = Object.keys(data)
        const series = orderedSeriesNames.map(organism => {
            const organismData = data[organism];
            const points = Object.keys(organismData).map(key => {
                const genomeNumber = organismData[key][0];
                const geneNumber = organismData[key][1];

                // Ensure non-zero, positive values for logarithmic scale
                const xValue = Math.max(genomeNumber, 1);
                const yValue = Math.max(geneNumber, 1);

                return {x: xValue, y: yValue, name: key};
            });

            return {
                name: organism,
                color: highchartsColors[orderedSeriesNames.indexOf(organism)],
                data: points,
                marker: {
                    symbol: 'circle',
                    radius: 6,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)',
                            radiusPlus: 2
                        }
                    }
                }
            };
        });

        Highcharts.chart('genome_gene_container', {
            chart: {
                type: 'scatter',
                zoomType: 'x',
                zooming: {
                    mouseWheel: false
                },
                marginLeft: 110
            },
            exporting: {
                enabled: false
            },
            title: {
                text: '',
                style: {
                    fontSize: '0.9rem'
                }
            },
            xAxis: {
                title: {
                    text: 'Genomes',
                    style: {
                        fontSize: '0.9rem'
                    }
                },
                type: 'logarithmic',
                showLastLabel: true,
                tickInterval: 1,
                lineWidth: 1,
                tickWidth: 1,
                gridLineWidth: 1,
                crosshair: true,
                labels: {
                    style: {
                        fontSize: '0.9rem',
                    }
                }
            },
            yAxis: {
                title: {
                    text: 'Genes',
                    style: {
                        fontSize: '0.8rem',
                    }
                },
                type: 'logarithmic',
                lineWidth: 1,
                tickInterval: 1,
                tickWidth: 1,
                gridLineWidth: 1,
                crosshair: true,
                labels: {
                    style: {
                        fontSize: '0.8rem',
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                verticalAlign: 'top',
                x: 110,
                y: 1,
                itemStyle: {
                    fontSize: '0.7em',
                },
                floating: true,
                backgroundColor: Highcharts.defaultOptions.chart.backgroundColor
            },

            plotOptions: {
                scatter: {
                    tooltip: {
                        headerFormat: '<b>{point.name}</b><br>',
                        pointFormat: '<b>Species</b>: {point.name}<br><b>Number of genomes</b>: {point.x}<br><b>Number of genes:</b> {point.y}'
                    },
                    point: {
                        events: {
                            click: function () {
                                window.open("{% url 'pangenome_analyses_overview' %}" + `?species=${encodeURIComponent(this.options.name)}`, '_blank');
                            }
                        }
                    }
                }
            },
            series: series,
            credits: {
                enabled: false
            }
        });
    });
</script>
