<div id="treemap_container" class="plot_container"></div>
<script>
    const data = {{ treemap_dataset|safe }}
    const categoryColors = {
        'animal associated': '#FFFACD',
        'food associated': '#FDBCB4',
        'missing': '#D3D3D3',
        'env associated': '#AFEEEE',
        'others': '#CAFFBF',
        'plant associated': '#FFDAB9'
    };

    // Assign colors to top-level categories in your data
    const coloredData = data.map(item => {
        if (!item.parent) {
            let lcName = item.name.toLowerCase();
            if (lcName in categoryColors) {
                item.color = categoryColors[item.name.toLowerCase()];
            } else {
                item.color = categoryColors['missing']
            }
        }
        return item;
    });

    Highcharts.chart('treemap_container', {
        series: [{
            name: 'Isolation Source',
            type: 'treemap',
            layoutAlgorithm: 'squarified',
            allowDrillToNode: true,
            animationLimit: 1000,
            dataLabels: {
                enabled: false
            },
            levels: [{
                level: 1,
                dataLabels: {
                    enabled: true,
                    formatter: function () {
                        return this.point.name + ': ' + this.point.value + ' strains';
                    },
                    style: {
                        fontSize: '0.8rem'
                    }
                },
                borderWidth: 3,
                levelIsConstant: false
            }],
            data: coloredData
        }],
        title: {
            text: '',
            // style: {
            //   fontSize: '16px' // Set your desired font size here
            // }
        },
        tooltip: {
            pointFormat: '{point.name}: {point.value}'
        },
        accessibility: {
            exposeAsGroupOnly: true
        },
        credits: {
            enabled: false
        },
        exporting: {
            enabled: false  // Disable the exporting feature
        },
    });
</script>
