<!-- The Search Form Template -->

{% load static %}

<!-- Custom styles for the Search form -->
<style>
    * {
        box-sizing: border-box;
    }

    /* Style the search field */
    form.search input[type=text] {
        width: 60ch;     /* 1ch is approximately equal to the width of 1 character */
        border: 1px solid grey;
        border-radius: 0;
        display: inline-block;
        padding: 5px 10px;
        -webkit-appearance: none;
    }

    /* Style the submit button */
    form.search button {
        background: #2196F3;
        color: white;
        cursor: pointer;
        /**
        * If the input field has a border,
        * we need it here too to achieve equal heights.
        **/
        border: 1px solid transparent;
        border-left: none; /* Prevent double borders */
        border-radius: 0;
        display: inline-block;
        padding: 5px 10px;
        -webkit-appearance: none;
    }

    form.search button:hover {
        background: #0b7dda;
    }

    /* Clear floats */
    form.search::after {
        content: "";
        clear: both;
        display: table;
    }

    /**
    * Firefox Fix:
    * Without that the submit button will be too high.
    */
    form.search button::-moz-focus-inner {
        border: 0;
    }

    /* Style the labels */
    form.search label {
        display: block;
    }

    a.search {
        color:#57a0d3;
        text-decoration: none;
    }

</style>

<form class="search" action="{% url 'search_results' %}" method="get">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- needed to retrieve the icon for the submit button -->
    <input id="q" name="q" type="text" placeholder="Search for a family, species, gene, of functional annotation" value="{{ request.GET.q }}"/>
    <button type="submit"><i class="fa fa-search"></i></button>
    <label for="q">
        <span style="color:#a9a6a7;">Examples: </span>
        <span style="color:#57a0d3"><i>
        <a class="search" href="{% url 'search_results' %}?q=Limosilactobacillus+reuteri">Limosilactobacillus reuteri</a>, <a class="search" href="{% url 'search_results' %}?q=adhE">adhE</a>, <a class="search" href="{% url 'search_results' %}?q=mannosylglycerate hydrolase">mannosylglycerate hydrolase</a>
        </i></span>
    </label>
</form>