{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Scatter Plot</title>
  <!-- Include Highcharts and PapaParse -->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
  <style>
    html, body {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    #container {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    html {
      font-size: 18px; /* Base font size for larger screens */
    }
  </style>
</head>

<body>
<div id="container"></div>
<script>
  const urlParams = new URLSearchParams(window.location.search);
  const species = urlParams.get('species');
  const species_name = (urlParams.get('species') || 'Unknown Species').replace(/_/g, ' ');

  const template_screen_width = 602;
  const current_window_Width = window.innerWidth;
  const coefficient = current_window_Width / template_screen_width;

  // Function to create the Highcharts chart
  function createChart(plotData) {
    Highcharts.chart('container', {
      chart: {
        type: 'scatter',
        zoomType: 'xy',
        plotBorderWidth: 1,
        plotBorderColor: '#000000'
      },
      title: {
        text: 'dN/dS Ratios for ' + species_name + ' genomes',
        align: 'center',
        style: {
          fontSize: (1.1 * coefficient) + 'em',
          color: '#000000'
        },
        x: 38 * coefficient
      },
      xAxis: {
        type: 'logarithmic',
        title: {
          text: 'Number of synonymous codons per gene',
          style: {
            fontSize: coefficient + 'em',
            color: '#000000'
          }
        },
        labels: {
          align: 'center',
          enable: true,
          style: {
            fontSize: (0.9 * coefficient) + 'em',
            color: '#000000'
          }
        },
          gridLineWidth: 0,
          tickWidth: 1,
          tickInterval: 1,
          lineColor: '#000000'
      },
      yAxis: {
        type: 'logarithmic',
        title: {
          text: 'Number of non-synonymous codons per gene',
          style: {
            fontSize: coefficient + 'em',
            color: '#000000'
          }
        },
        labels: {
          align: 'center',
          enable: true,
          style: {
            fontSize: (0.9 * coefficient) + 'em',
            color: '#000000'
          }
        },
        gridLineWidth: 0,
        tickWidth: 1,
        tickInterval: 1,
        lineColor: '#000000'
      },
      legend: {
        align: 'center',
        verticalAlign: 'top',
        layout: 'horizontal',
        x: 38 * coefficient
      },
      series: [{
        name: 'dN/dS > 1',
        data: plotData.dNdS_greater_than_one,
        color: 'black',
        marker: {
          symbol: 'circle',
          radius: 4 * coefficient
        }
      }, {
        name: 'dN/dS = 1',
        data: plotData.dNdS_equal_to_one,
        color: 'red',
        marker: {
          symbol: 'circle',
          radius: 4 * coefficient
        }
      }, {
        name: 'dN/dS < 1',
        data: plotData.dNdS_less_than_one,
        color: '#9BABB8',
        marker: {
          symbol: 'circle',
          radius: 4 * coefficient
        }
      }],
      credits: {
        enabled: false
      }
    });
  }

  // Get the string-transformed dictionary from the view: ----
  const data = {{ dataset|safe }}
  // Create the plot
  createChart(data)
</script>
</body>
</html>