{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />

  <!-- Latest compiled and minified CSS -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" />

  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>
  <script src="https://d3js.org/d3.v6.js"></script>
  <script src="{% static 'phylotree.js/js/phylotree.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>

  <!-- Bootstrap JavaScript -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.0/flatly/bootstrap.min.css" rel="stylesheet"
    crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>

  <!-- Custom Styles -->
  <link href="{% static 'phylotree.js/css/phylotree.css' %}" rel="stylesheet" />
</head>
<!--
###############################################################################################################################
-->

<body>
  <div class="tooltip" style="position: absolute; opacity: 0; z-index: 2000;"></div>
  <div class="container-fluid p-0">
    <!-- Top Row: Toolbar and Category Labels Side by Side -->
    <div class="toolbar-and-labels">
      <!-- Toolbar Styling -->
      <div class="toolbar-column">
        <div class="btn-toolbar navbar navbar-expand-lg navbar-light bg-light" role="toolbar" id="toolbar">

          <!-- Dropdown: Tag -->
          <!-- <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTag" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Tag
            </a>
          </div> -->
          <div class="btn-group">
            <button id="help_info" type="button" class="btn btn-sm" title="Help">
              <i class="fa fa-circle-question"></i>
            </button>
            <button id="mouse_mode_select" type="button" class="btn btn-sm active" title="Select">
              <i class="fa-solid fa-arrow-pointer"></i>
            </button>
            <button id="mouse_mode_pan" type="button" class="btn btn-sm" title="Pan">
              <i class="fa-solid fa-arrows-up-down-left-right"></i>
            </button>
          </div>

          <!-- Dropdown: Selection -->
          <div class="btn-group">
            <div class="dropdown">
              <a class="nav-link dropdown-toggle ps-1 pe-1" href="#" id="navbarDropdownSelection" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Selection
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownSelection">
                <a id="filter_add" class="dropdown-item" href="#">Add filtered nodes to selection</a>
                <a id="filter_remove" class="dropdown-item" href="#">Select all but filtered nodes</a>
                <div class="dropdown-divider"></div>
                <a id="select_all" class="dropdown-item" href="#">Select all</a>
                <a id="select_all_internal" class="dropdown-item" href="#">Select all internal nodes</a>
                <a id="select_all_leaves" class="dropdown-item" href="#">Select all leaf nodes</a>
                <a id="clear_internal" class="dropdown-item" href="#">Clear all internal nodes</a>
                <a id="clear_leaves" class="dropdown-item" href="#">Clear all leaves</a>
                <a id="select_none" class="dropdown-item" href="#">Clear selection</a>
                <div class="dropdown-divider"></div>
                <a id="mp_label" class="dropdown-item" href="#">Label internal nodes using maximum parsimony</a>
                <a id="and_label" class="dropdown-item" href="#">Label internal nodes using conjunction (AND)</a>
                <a id="or_label" class="dropdown-item" href="#">Label internal nodes using disjunction (OR)</a>
              </div>
            </div>
          </div>

          <div class="btn-group">         
            <button type="button" class="btn btn-light btn-sm" data-direction="vertical" data-amount="1"
              title="Expand vertical spacing">
              <i class="fa fa-up-down"></i>
            </button>
            <button type="button" class="btn btn-light btn-sm" data-direction="vertical" data-amount="-1"
              title="Compress vertical spacing">
              <i class="fa fa-down-left-and-up-right-to-center" style="transform: rotate(135deg);"></i>
            </button>
            <button type="button" class="btn btn-light btn-sm" data-direction="horizontal" data-amount="1"
              title="Expand horizontal spacing">
              <i class="fa fa-left-right"></i>
            </button>
            <button type="button" class="btn btn-light btn-sm" data-direction="horizontal" data-amount="-1"
              title="Compress horizontal spacing">
              <i class="fa fa-down-left-and-up-right-to-center" style="transform: rotate(45deg);"></i>
            </button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-light btn-sm" id="sort_ascending"
              title="Sort deepest clades to the bottom">
              <i class="fa fa-sort-amount-asc"></i>
            </button>
            <button type="button" class="btn btn-light btn-sm" id="sort_descending" title="Sort deepest clades to the top">
              <i class="fa fa-sort-amount-desc"></i>
            </button>
            <!-- <button type="button" class="btn btn-light btn-sm" id="sort_original" title="Restore original order">
              <i class="fa fa-sort"></i>
            </button> -->
          </div>
          <!-- <div class="btn-group">
            <button type="button" class="btn btn-light btn-sm" id="save_image" title="Save image">
              <i class="fa fa-image"></i>
            </button>
          </div> -->
          <!-- REVIEW: Radial doesn't work properly, should be easy to fix though
          <div class="btn-group" role="group">
            <button class="btn btn-light btn-sm active phylotree-layout-mode" data-mode="linear">Linear</button>
            <button class="btn btn-light btn-sm phylotree-layout-mode" data-mode="radial">Radial</button>
          </div>
          -->
          <div class="btn-group" role="group">
            <button class="btn btn-light btn-sm active phylotree-align-toggler" data-align="left">
              <i class="fa fa-align-left"></i>
            </button>
            <button class="btn btn-light btn-sm phylotree-align-toggler" data-align="right">
              <i class="fa fa-align-right"></i>
            </button>
          </div>

          <div class="btn-group" role="group">
            <form class="d-flex align-items-center">
              <input type="text" id="branch_filter" class="form-control" placeholder="Filter branches on"
                onkeypress="return event.keyCode != 13" />
            </form>
          </div>

          <div class="btn-group" role="group">
            <button id="toggle_iso_sidebar" class="btn btn-light btn-sm active" title="Toggle isolation source sidebar">
              <i class="fa fa-circle-info"></i>
            </button>
            <button id="toggle-sidebar" class="btn btn-sm toggle-sidebar-button active"><i class="fa fa-bars"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="main_wrapper">
    <div class="container-fluid" id="main_display">
      <!-- Left Section -->
      <div class="left-section">
        <div id="tree_overlay" class="tree-overlay d-none"></div>
        <!-- Bottom Row: Tree and Squares Side by Side -->
        <div id="tree_and_matrix_wrapper" class="tree-and-matrix-wrapper">
        <div id="tree_and_matrix" class="tree-and-matrix .tree-and-matrix-2-cols">
          <!-- Left Column: Tree Container -->
          <div class="tree-column" id="tree_container">
              <!-- Tree will be rendered here -->
          </div>

          <!-- Right Column: Squares Container -->
          <div class="matrix-column" id="matrix-container">
            <!-- Category Labels -->
            <div id="category_labels" class="category-labels-container vertical">
              <!-- Category labels will be rendered here -->
            </div>
            <!-- Squares -->
            <div id="squares_container" class="squares-container">
            
            </div>
          </div>
        </div>
        </div>
      </div>

      <!-- Right Section: Selected Information -->
      <div id="sidebar" class="right-section sidebar">
        <!-- Existing Selected Tags and Branches -->
        <label>
          <span class="badge badge-secondary" id="selected_branch_counter">0</span> <!-- TODO: consider removing -->
          <b>branches with current label.</b>
        </label>
        <br>

        <!-- Highlighting Dropdown Menus for Each Category -->
        <div id="highlight-dropdowns-container" class="mt-4">
          <!-- Dropdown menus for each category will be dynamically generated here -->
        </div>
      </div>
    </div>
  </div>

  <!--
###############################################################################################################################
-->

  <script>
    var phylotree_extensions = new Object();
    var phylotree_mouse_mode = "select";
    const scrollable_x = document.querySelector('#tree_container');
    const scrollable_y = document.querySelector('#tree_and_matrix_wrapper');
    const scrollable_xy_source = document.querySelector('#tree_overlay');
    var pointerFrom_x = 0;
    var pointerFrom_y = 0;
    var elementFrom_x = 0;
    var elementFrom_y = 0;

    const onDragXY = (event) => {
      scrollable_x.scrollLeft = elementFrom_x - event.clientX + pointerFrom_x;
      scrollable_y.scrollTop = elementFrom_y - event.clientY + pointerFrom_y;
      event.stopPropagation();
      event.preventDefault();
    };
    scrollable_xy_source.addEventListener('pointerdown', (event) => {
      if (phylotree_mouse_mode == "pan") {
        pointerFrom_x = event.clientX;
        elementFrom_x = scrollable_x.scrollLeft;
        pointerFrom_y = event.clientY;
        elementFrom_y = scrollable_y.scrollTop;
        document.addEventListener('pointermove', onDragXY);
        event.stopPropagation();
        event.preventDefault();
      }
    });
    document.addEventListener('pointerup', (event) => {
      if (phylotree_mouse_mode == "pan") {
        document.removeEventListener('pointermove', onDragXY);
        event.stopPropagation();
        event.preventDefault();
      }
    });
    scrollable_xy_source.addEventListener('wheel', (event) =>{
      event.stopPropagation();
      event.preventDefault();
      scrollable_x.scrollLeft = scrollable_x.scrollLeft + event.deltaX;
      scrollable_y.scrollTop = scrollable_y.scrollTop + event.deltaY;
    });

    $("#newick_export_modal").on("show.bs.modal", function (e) {
      $('textarea[id$="nwk_export_spec"]').val(
        tree.getNewick(function (node) {
          var tags = [];
          selection_set.forEach(function (d) {
            if (node[d]) {
              tags.push(d);
            }
          });
          if (tags.length) {
            return "{" + tags.join(",") + "}";
          }
          return "";
        })
      );
    });

    $("#newick_file").on("change", function (e) {
      var files = e.target.files; // FileList object

      if (files.length == 1) {
        var f = files[0];
        var reader = new FileReader();

        reader.onload = function (e) {
          var res = e.target.result;
          var warning_div = d3
            .select("#main_display")
            .insert("div", ":first-child");

          tree = new phylotree.phylotree(res);
          global_tree = tree;

          if (!tree["json"]) {
            warning_div
              .attr("class", "alert alert-danger alert-dismissable")
              .html(
                "<strong>Newick parser error for file " +
                f.name +
                ": </strong> In file " +
                res["error"]
              );
          } else {
            tree.render({
              container: "#tree_container",
              "draw-size-bubbles": false,
              "left-right-spacing": "fixed-step",
              "node-styler": node_colorizer,
              "edge-styler": edge_colorizer
            });

            tree.display.selectionLabel(current_selection_name);

            tree.display.countHandler(count => {
              $("#selected_branch_counter").text(function (d) {
                return count[current_selection_name];
              });
            });

            // Get selection set names from parsed newick
            if (tree.parsed_tags.length) {
              selection_set = tree.parsed_tags;
            }

            update_selection_names();

            $("#newick_modal").modal("hide");

            $(tree.display.container).empty();
            $(tree.display.container).html(tree.display.show());
          }
        };

        $("#newick-dropdown").dropdown("toggle");
        reader.readAsText(f);
      }
    });

    function getNewickFromURL(url) {
      d3.text(url).then(res => {

        var warning_div = d3
          .select("#main_display")
          .insert("div", ":first-child");

        tree = new phylotree.phylotree(res);
        global_tree = tree;

        if (!tree["json"]) {
          warning_div
            .attr("class", "alert alert-danger alert-dismissable")
            .html(
              "<strong>Newick parser error for file " +
              f.name +
              ": </strong> In file " +
              res["error"]
            );
        } else {
          tree.render({
            container: "#tree_container",
            "draw-size-bubbles": false,
            "left-right-spacing": "fixed-step",
            "node-styler": node_colorizer,
            "edge-styler": edge_colorizer
          });

          tree.display.selectionLabel(current_selection_name);

          tree.display.countHandler(count => {
            $("#selected_branch_counter").text(function (d) {
              return count[current_selection_name];
            });
          });

          // Get selection set names from parsed newick
          if (tree.parsed_tags.length) {
            selection_set = tree.parsed_tags;
          }

          update_selection_names();

          $("#newick_modal").modal("hide");

          $(tree.display.container).empty();
          $(tree.display.container).html(tree.display.show());
        }
      });
    }

    $("#newick_url_btn").on("click", function (e) {

      let url = $("#newick_url").val();
      getNewickFromURL(url);
      $("#newick-dropdown").dropdown("toggle");

    });

    $("#newick_url").on("change", function (e) {

      let url = $(e.target).val();
      getNewickFromURL(url);
      $("#newick-dropdown").dropdown("toggle");

    });

    $("#display_tree").on("click", function (e) {
      tree.options({ branches: "straight" }, true);
    });

    $("#mp_label").on("click", function (e) {
      tree.maxParsimony(true, "Foreground");
    });

    // Global variable to store the current row height of the squares
    let squaresRowHeight = 14;  // Default to 14px

    // Function to update the height of each grid item in squares-container
    function updateSquareRowHeight() {
      $(".squares-container > .square, .squares-container > .square, .squares-container > .square, .squares-container > .square")
        .css("height", squaresRowHeight + "px")
        .css("line-height", squaresRowHeight + "px")
        .css("padding-top", "0"); // Ensure no extra padding is applied
    }


    // Call this function whenever the row height changes
    $("[data-direction]").on("click", function (e) {
      const which_function = $(this).data("direction") === "vertical"
        ? tree.display.spacing_x.bind(tree.display)
        : tree.display.spacing_y.bind(tree.display);
      which_function(which_function() + +$(this).data("amount")).update();

      // Adjust row height and top margin for vertical spacing of squares
      if ($(this).data("direction") === "vertical") {
        const amount = +$(this).data("amount");

        // Update the global row height variable
        squaresRowHeight += amount;

        // Apply the new height to all grid items
        updateSquareRowHeight();

        // Adjust the top margin if necessary
        const currentMarginTop = parseFloat($(".squares-container").css("margin-top")) || 0;
        const newMarginTop = currentMarginTop + amount * 0.5;
        $(".squares-container").css("margin-top", newMarginTop + "px");
      }
    });

    $(".phylotree-layout-mode").on("click", function (e) {
      // Toggle between radial and linear modes
      if (tree.display.radial() != ($(this).data("mode") == "radial")) {
        $(".phylotree-layout-mode").toggleClass("active");
        tree.display.radial(!tree.display.radial()).update();

        // Check the mode and show or hide the matrix accordingly
        if ($(this).data("mode") == "linear") {
          // Show the matrix when linear projection is selected
          $(".matrix-column").show();  // Show the matrix-column container
          $(".category-labels-container").show();  // Show the category labels
        } else if ($(this).data("mode") == "radial") {
          // Hide the matrix when radial projection is selected
          $(".matrix-column").hide();  // Hide the matrix-column container
          $(".category-labels-container").hide();  // Hide the category labels
        }
      }
    });

    $("#toggle_animation").on("click", function (e) {
      var current_mode = $(this).hasClass("active");
      $(this).toggleClass("active");
      tree.options({ transitions: !current_mode });
    });

    $(".phylotree-align-toggler").on("click", function (e) {
      var button_align = $(this).data("align");
      var tree_align = tree.display.options.alignTips;

      if (tree_align != button_align) {
        tree.display.alignTips(button_align == "right");
        $(".phylotree-align-toggler").toggleClass("active");
        tree.display.update();
      }
    });

    $("#toggle_iso_sidebar").on("click", function (e) {
      var current_mode = $(this).hasClass("active");
      $(this).toggleClass("active");
      $(".matrix-column").toggleClass("d-none");
      $(".tree-and-matrix").toggleClass("tree-and-matrix-1-col");
      tree.display.update();
      // const treeContainer = document.querySelector(".tree-column");
      // treeContainer.dispatchEvent(new CustomEvent('scroll')); // trigger the scroll event to synchronize the views
    });

    $("#mouse_mode_select").on("click", function (e) {
      $(this).toggleClass("active", true);
      $("#mouse_mode_pan").toggleClass("active", false);
      $("#tree_overlay").toggleClass("d-none", true);
      phylotree_mouse_mode = "select";
    });
    $("#mouse_mode_pan").on("click", function (e) {
      $(this).toggleClass("active", true);
      $("#mouse_mode_select").toggleClass("active", false);
      $("#tree_overlay").toggleClass("d-none", false);
      phylotree_mouse_mode = "pan";
    });

    function sort_nodes(asc) {
      tree.resortChildren(function (a, b) {
        return (b.height - a.height || b.value - a.value) * (asc ? 1 : -1);
      });
    }

    // Ensure height is reapplied after sorting or other updates
    $("#sort_original, #sort_ascending, #sort_descending").on("click", function (e) {
      // Depending on the button clicked, resort nodes or update the tree
      if (this.id === "sort_original") {
        tree.resortChildren((a, b) => a["original_child_order"] - b["original_child_order"]);
      } else if (this.id === "sort_ascending") {
        sort_nodes(true);
      } else if (this.id === "sort_descending") {
        sort_nodes(false);
      }

      tree.display.update();
      createSquaresForNodes(tree, metadata, categories); // Reload squares after sorting

      // Reapply the row height using the saved height variable
      updateSquareRowHeight();
    });

    $("#and_label").on("click", function (e) {
      tree.display.internalLabel(function (d) {
        return d.reduce(function (prev, curr) {
          return curr[current_selection_name] && prev;
        }, true);
      }, true);
    });

    $("#or_label").on("click", function (e) {
      tree.display.internalLabel(function (d) {
        return d.reduce(function (prev, curr) {
          return curr[current_selection_name] || prev;
        }, false);
      }, true);
    });

    $("#filter_add").on("click", function (e) {
      tree.display
        .modifySelection(function (d) {
          return d.tag || d[current_selection_name];
        })
        .modifySelection(
          function (d) {
            return false;
          },
          "tag",
          false,
          false
        );
    });

    $("#filter_remove").on("click", function (e) {
      tree.display.modifySelection(function (d) {
        return !d.tag;
      });
    });

    $("#select_all").on("click", function (e) {
      tree.display.modifySelection(function (d) {
        return true;
      });
    });

    $("#select_all_internal").on("click", function (e) {
      tree.display.modifySelection(function (d) {
        return !tree.isLeafNode(d.target);
      });
    });

    $("#select_all_leaves").on("click", function (e) {
      tree.display.modifySelection(function (d) {
        return tree.isLeafNode(d.target);
      });
    });

    $("#select_none").on("click", function (e) {
      tree.display.modifySelection(function (d) {
        return false;
      });
    });

    $("#clear_internal").on("click", function (e) {
      tree.display.modifySelection(function (d) {
        return tree.isLeafNode(d.target)
          ? d.target[current_selection_name]
          : false;
      });
    });

    $("#clear_leaves").on("click", function (e) {
      tree.display.modifySelection(function (d) {
        return !tree.isLeafNode(d.target)
          ? d.target[current_selection_name]
          : false;
      });
    });

    $("#display_dengrogram").on("click", function (e) {
      tree.display.options({ branches: "step" }, true);
    });

    // Debounce the input event to reduce the frequency of calls while typing
    $("#branch_filter").on("input propertychange", _.debounce(function (e) {
      const filter_value = $(this).val().trim();
      const rx = new RegExp(filter_value, "i"); // Case-insensitive regex for filtering

      // Clear all previous highlights by removing the .highlighted class
      d3.selectAll("[data-node-name]").classed("highlighted", false);

      // Traverse each node and apply the .highlighted class if it matches
      tree.display.modifySelection(n => {
        // Skip nodes without names
        if (!n.target.data.name) {
          return false;
        }

        // Check if branch name matches the search term
        const name_match = n.target.data.name.search(rx) !== -1;

        // Retrieve metadata for the node based on genome ID
        const genomeId = n.target.data.name.trim();
        const metadataForNode = metadata[genomeId];

        // Use a custom loop to check if any metadata field matches the search term
        let metadata_match = false;
        if (metadataForNode) {
          for (const key in metadataForNode) {
            if (metadataForNode[key] && metadataForNode[key].toString().search(rx) !== -1) {
              metadata_match = true;
              break; // Exit the loop on the first match for efficiency
            }
          }
        }

        // Apply the .highlighted class if there's a match on either name or metadata
        if (filter_value.length && (name_match || metadata_match)) {
          // Select the name label for this node and apply the .highlighted class
          d3.select(`[data-node-name="${n.target.data.name}"]`).classed("highlighted", true);
        }
      });
    }, 100)); // Adjust debounce delay as needed

    $("#validate_newick").on("click", function (e) {
      let test_string = $('textarea[id$="nwk_spec"]').val();

      tree = new phylotree.phylotree(test_string);
      global_tree = tree;

      if (!tree["json"]) {
        var warning_div = d3
          .select("#newick_body")
          .selectAll("div  .alert-danger")
          .data([res["error"]]);
        warning_div.enter().append("div");
        warning_div
          .html(function (d) {
            return d;
          })
          .attr("class", "alert-danger");
      } else {
        tree.render({
          container: "#tree_container",
          "draw-size-bubbles": false,
          "node-styler": node_colorizer,
          zoom: false,
          "edge-styler": edge_colorizer
        });

        tree.display.selectionLabel(current_selection_name);

        tree.display.countHandler(count => {
          $("#selected_branch_counter").text(function (d) {
            return count[current_selection_name];
          });
        });

        // Get selection set names from parsed newick
        if (tree.parsed_tags.length) {
          selection_set = tree.parsed_tags;
        }

        update_selection_names();

        $("#newick_modal").modal("hide");
        $(tree.display.container).html(tree.display.show());
      }
    });

    function default_tree_settings() {
      tree = phylotree();
      tree.branchLength(null);
      tree.branchName(null);
      tree.display.radial(false).separation(function (a, b) {
        return 0;
      });
    }

    function node_colorizer(element, data) {
      try {
        var count_class = 0;

        selection_set.forEach(function (d, i) {
          if (data[d]) {
            count_class++;
            element.style(
              "fill",
              color_scheme(i),
              i == current_selection_id ? "important" : null
            );
          }
        });

        if (count_class > 1) {
        } else {
          if (count_class == 0) {
            element.style("fill", null);
          }
        }
      } catch (e) { }
    }

    function edge_colorizer(element, data) {

      try {
        var count_class = 0;

        selection_set.forEach(function (d, i) {
          if (data[d]) {
            count_class++;
            element.style(
              "stroke",
              color_scheme(i),
              i == current_selection_id ? "important" : null
            );
          }
        });

        if (count_class > 1) {
          element.classed("branch-multiple", true);
        } else if (count_class == 0) {
          element.style("stroke", null).classed("branch-multiple", false);
        }
      } catch (e) { }
    }

    var valid_id = new RegExp("^[\\w]+$");

    $("#selection_name_box").on("input propertychange", function (e) {
      var name = $(this).val();

      var accept_name =
        selection_set.indexOf(name) < 0 && valid_id.exec(name);

      d3.select("#save_selection_button").classed(
        "disabled",
        accept_name ? null : true
      );
    });

    $("#selection_rename").on("click", function (e) {
      d3.select("#save_selection_button")
        .classed("disabled", true)
        .on("click", function (e) {
          // save selection handler
          var old_selection_name = current_selection_name;
          selection_set[current_selection_id] = current_selection_name = $(
            "#selection_name_box"
          ).val();

          if (old_selection_name != current_selection_name) {
            tree.update_key_name(old_selection_name, current_selection_name);
            update_selection_names(current_selection_id);
          }
          send_click_event_to_menu_objects(
            new CustomEvent(selection_menu_element_action, {
              detail: ["save", this]
            })
          );
        });

      d3.select("#cancel_selection_button")
        .classed("disabled", false)
        .on("click", function (e) {
          // save selection handler
          $("#selection_name_box").val(current_selection_name);
          send_click_event_to_menu_objects(
            new CustomEvent(selection_menu_element_action, {
              detail: ["cancel", this]
            })
          );
        });

      send_click_event_to_menu_objects(
        new CustomEvent(selection_menu_element_action, {
          detail: ["rename", this]
        })
      );
      e.preventDefault();
    });

    $("#selection_delete").on("click", function (e) {
      tree.display.updateKeyName(selection_set[current_selection_id], null);
      selection_set.splice(current_selection_id, 1);

      if (current_selection_id > 0) {
        current_selection_id--;
      }
      current_selection_name = selection_set[current_selection_id];
      update_selection_names(current_selection_id);
      $("#selection_name_box").val(current_selection_name);

      send_click_event_to_menu_objects(
        new CustomEvent(selection_menu_element_action, {
          detail: ["save", this]
        })
      );
      e.preventDefault();
    });

    $("#selection_new").on("click", function (e) {
      d3.select("#save_selection_button")
        .classed("disabled", true)
        .on("click", function (e) {
          // save selection handler
          current_selection_name = $("#selection_name_box").val();
          current_selection_id = selection_set.length;
          selection_set.push(current_selection_name);
          update_selection_names(current_selection_id);
          send_click_event_to_menu_objects(
            new CustomEvent(selection_menu_element_action, {
              detail: ["save", this]
            })
          );
        });

      d3.select("#cancel_selection_button")
        .classed("disabled", false)
        .on("click", function (e) {
          // save selection handler
          $("#selection_name_box").val(current_selection_name);
          send_click_event_to_menu_objects(
            new CustomEvent(selection_menu_element_action, {
              detail: ["cancel", this]
            })
          );
        });

      send_click_event_to_menu_objects(
        new CustomEvent(selection_menu_element_action, {
          detail: ["new", this]
        })
      );
      e.preventDefault();
    });

    function send_click_event_to_menu_objects(e) {
      $(
        "#selection_new, #selection_delete, #selection_rename, #save_selection_name, #selection_name_box, #selection_name_dropdown"
      )
        .get()
        .forEach(function (d) {
          d.dispatchEvent(e);
        });
    }

    function update_selection_names(id, skip_rebuild) {
      skip_rebuild = skip_rebuild || false;
      id = id || 0;

      current_selection_name = selection_set[id];
      current_selection_id = id;

      if (!skip_rebuild) {
        d3.selectAll(".selection_set").remove();

        d3.select("#selection_name_dropdown")
          .selectAll(".selection_set")
          .data(selection_set)
          .enter()
          .append("a")
          .attr("class", "selection_set dropdown-item")
          .attr("href", "#")
          .text(function (d) {
            return d;
          })
          .style("color", function (d, i) {
            return color_scheme(i);
          })
          .on("click", function (d, name) {
            // Pass the index of name
            let i = _.indexOf(selection_set, name);
            update_selection_names(i, true);
          });
      }

      d3.select("#selection_name_box")
        .style("color", color_scheme(id))
        .property("value", current_selection_name);

      // Loop through all selection_sets
      _.each(selection_set, function (id) {
        tree.display.selectionLabel(id);
        tree.display.update();
      });

      console.log('Setting label within the tree display');
      console.log(id);
      console.log(selection_set[id]);
      tree.display.selectionLabel(selection_set[id]);
      tree.display.update();
    }

    var container_id = "#tree_container";
    var width = $(container_id).width(),
      height = $(container_id).height()
      selection_set = ["Foreground"],
      current_selection_name = $("#selection_name_box").val(),
      current_selection_id = 0,
      max_selections = 10;
    (color_scheme = d3.scaleOrdinal(d3.schemeCategory10)),
      (selection_menu_element_action = "phylotree_menu_element_action");

    // var container_id = "#tree_container";
    var example_controls = d3.select("#controls_form").append("form");

    // var svg = d3.select(container_id).append("svg")
    //    .attr("width", width)
    //    .attr("height", height);

    function selection_handler_name_box(e) {
      var name_box = d3.select(this);
      switch (e.detail[0]) {
        case "save":
        case "cancel":
          name_box
            .property("disabled", true)
            .style("color", color_scheme(current_selection_id));

          break;
        case "new":
          name_box
            .property("disabled", false)
            .property("value", "new_selection_name")
            .style("color", color_scheme(selection_set.length));
          break;
        case "rename":
          name_box.property("disabled", false);
          break;
      }
    }

    function selection_handler_new(e) {
      var element = d3.select(this);
      $(this).data("tooltip", false);
      switch (e.detail[0]) {
        case "save":
        case "cancel":
          if (selection_set.length == max_selections) {
            element.classed("disabled", true);
            $(this).tooltip({
              title: "Up to " + max_selections + " are allowed",
              placement: "left"
            });
          } else {
            element.classed("disabled", null);
          }
          break;
        default:
          element.classed("disabled", true);
          break;
      }
    }

    function selection_handler_rename(e) {
      var element = d3.select(this);
      element.classed(
        "disabled",
        e.detail[0] == "save" || e.detail[0] == "cancel" ? null : true
      );
    }

    function selection_handler_save_selection_name(e) {
      var element = d3.select(this);
      element.style(
        "display",
        e.detail[0] == "save" || e.detail[0] == "cancel" ? "none" : null
      );
    }

    function selection_handler_name_dropdown(e) {
      var element = d3.select(this).selectAll(".selection_set");
      element.classed(
        "disabled",
        e.detail[0] == "save" || e.detail[0] == "cancel" ? null : true
      );
    }

    function selection_handler_delete(e) {
      var element = d3.select(this);
      $(this).tooltip("dispose");
      switch (e.detail[0]) {
        case "save":
        case "cancel":
          if (selection_set.length == 1) {
            element.classed("disabled", true);
            $(this).tooltip({
              title:
                "At least one named selection set <br> is required;<br>it can be empty, however",
              placement: "bottom",
              html: true
            });
          } else {
            element.classed("disabled", null);
          }
          break;
        default:
          element.classed("disabled", true);
          break;
      }
    }

    var datamonkey_save_image = function (type, container) {
      var prefix = {
        xmlns: "http://www.w3.org/2000/xmlns/",
        xlink: "http://www.w3.org/1999/xlink",
        svg: "http://www.w3.org/2000/svg"
      };

      function get_styles(doc) {
        function process_stylesheet(ss) {
          try {
            if (ss.cssRules) {
              for (var i = 0; i < ss.cssRules.length; i++) { //REVIEW - for costly operation
                var rule = ss.cssRules[i];
                if (rule.type === 3) {
                  // Import Rule
                  process_stylesheet(rule.styleSheet);
                } else {
                  // hack for illustrator crashing on descendent selectors
                  if (rule.selectorText) {
                    if (rule.selectorText.indexOf(">") === -1) {
                      styles += "\n" + rule.cssText;
                    }
                  }
                }
              }
            }
          } catch (e) {
            console.log("Could not process stylesheet : " + ss); // eslint-disable-line
          }
        }

        var styles = "",
          styleSheets = doc.styleSheets;

        if (styleSheets) {
          for (var i = 0; i < styleSheets.length; i++) { //REVIEW - for costly operation
            process_stylesheet(styleSheets[i]);
          }
        }

        return styles;
      }

      var svg = $(container).find("svg")[0];
      if (!svg) {
        svg = $(container)[0];
      }

      var styles = get_styles(window.document);

      svg.setAttribute("version", "1.1");

      var defsEl = document.createElement("defs");
      svg.insertBefore(defsEl, svg.firstChild);

      var styleEl = document.createElement("style");
      defsEl.appendChild(styleEl);
      styleEl.setAttribute("type", "text/css");

      // removing attributes so they aren't doubled up
      svg.removeAttribute("xmlns");
      svg.removeAttribute("xlink");

      // These are needed for the svg
      if (!svg.hasAttributeNS(prefix.xmlns, "xmlns")) {
        svg.setAttributeNS(prefix.xmlns, "xmlns", prefix.svg);
      }

      if (!svg.hasAttributeNS(prefix.xmlns, "xmlns:xlink")) {
        svg.setAttributeNS(prefix.xmlns, "xmlns:xlink", prefix.xlink);
      }

      var source = new XMLSerializer()
        .serializeToString(svg)
        .replace("</style>", "<![CDATA[" + styles + "]]></style>");
      var doctype =
        '<?xml version="1.0" standalone="no"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">';
      var to_download = [doctype + source];
      var image_string =
        "data:image/svg+xml;base66," + encodeURIComponent(to_download);

      if (navigator.msSaveBlob) {
        // IE10
        download(image_string, "image.svg", "image/svg+xml");
      } else if (type == "png") {
        b64toBlob(
          image_string,
          function (blob) {
            var url = window.URL.createObjectURL(blob);
            var pom = document.createElement("a");
            pom.setAttribute("download", "image.png");
            pom.setAttribute("href", url);
            $("body").append(pom);
            pom.click();
            pom.remove();
          },
          function (error) {
            console.log(error); // eslint-disable-line
          }
        );
      } else {
        var pom = document.createElement("a");
        pom.setAttribute("download", "image.svg");
        pom.setAttribute("href", image_string);
        $("body").append(pom);
        pom.click();
        pom.remove();
      }
    };

    var urlParams = new URLSearchParams(window.location.search);
    var species = urlParams.get('species');

    const categories = ['Phylons', 'Country', 'Broad Context', 'Local Context', 'Isolation Source'];  // Static definition
    let metadata = {{ source_info_dataset | safe }};

    // // Fetch metadata with caching support
    // const cachedMetadata = localStorage.getItem('metadata_' + species);
    // if (cachedMetadata) {
    //   metadata = JSON.parse(cachedMetadata);
    //   initializeComponents();
    // } else {
    //   fetch("http://localhost:8000/metadata_updated/" + species + "/source_info_core.json")
    //     .then(response => response.json())
    //     .then(data => {
    //       metadata = {};
    //       Object.entries(data).forEach(([genome_id, genomeData]) => {
    //         if (genomeData && genomeData.length >= 2) {
    //           metadata[genome_id.replace('.', '').trim()] = {
    //             'Country': genomeData[0],
    //             'Isolation Source': genomeData[1],
    //             'Specific Source': genomeData[2]
    //           };
    //         }
    //       });
    //       // Cache metadata in localStorage
    //       localStorage.setItem('metadata_' + species, JSON.stringify(metadata));
    //       initializeComponents();
    //     })
    //     .catch(error => console.error('Error fetching metadata:', error));
    // }

    function initializeComponents() {
        var newick_string = {{ tree_dataset | safe }};

        // Initialize the phylogenetic tree
        tree = new phylotree.phylotree(newick_string);
        global_tree = tree;

        // Render the tree in the designated container
        tree.render({
        container: "#tree_container",
        "draw-size-bubbles": false,
        "node-styler": function (element, data) {
            element.on("mouseover", function (event, d) {
            if (d.data.name) {
                showTooltip(event, d.data.name.trim());
            }
            }).on("mouseout", hideTooltip);
        },
        zoom: false,
        "edge-styler": edge_colorizer,
        });

        // Create the category labels, squares for nodes, and dropdowns
        createCategoryLabels(categories);
        createSquaresForNodes(tree, metadata, categories);
        addHighlightingDropdowns(metadata, categories);
        add_tags();

        // Initialize Tippy.js tooltips on rendered elements with `data-tippy-content`
        tippy('[data-tippy-content]', {
        content: (reference) => {
            const genome_id = reference.getAttribute('data-genome-id');
            const data = metadata[genome_id] || {};
            let tooltipHTML = `<strong>Genome ID:</strong> ${genome_id}<br>`;
            Object.keys(data).forEach(key => {
            tooltipHTML += `<strong>${key}:</strong> ${data[key]}<br>`;
            });
            return tooltipHTML;
        },
        arrow: true,
        delay: [100, 100]
        });

        // Attach hover event listeners to squares using only showTooltip and hideTooltip
        d3.selectAll(".square")
        .on("mouseover", function (event) {
            const square = d3.select(this);
            const originalTitle = square.attr("title");

            // Store the original title in data attribute and remove it from title attribute
            if (originalTitle) {
            square.attr("data-original-title", originalTitle);
            square.attr("title", null);
            }

            // Call showTooltip with the event and the data attribute (tag)
            const tag = square.attr("data-original-title") || "No tag available";
            showTooltip(event, tag);
        })
        .on("mouseout", function () {
            hideTooltip();

            // Restore the title attribute on mouseout
            const square = d3.select(this);
            const originalTitle = square.attr("data-original-title");
            if (originalTitle) {
            square.attr("title", originalTitle);
            }
        });


        // Handle selection labels and updating the selection count
        tree.display.selectionLabel(current_selection_name);
        tree.display.countHandler(count => {
        $("#selected_branch_counter").text(() => count[current_selection_name]);
        });

        // Update selection set if parsed tags are available
        if (tree.parsed_tags.length) {
        selection_set = tree.parsed_tags;
        console.log("Selection set:", selection_set);
        }

        $(tree.display.container).append(tree.display.show());
    }

    // Function to get all leaf nodes (genome IDs) from the tree
    function getAllLeafNodes(tree) {
      let leafNodes = [];

      function traverse(node) {
        if (!node || typeof node.data === "undefined" || typeof node.data.name === "undefined") {
          console.error("Root node or node.data.name is undefined:", node);
          return; // Exit if the root node or its name is undefined
        }

        // Initialize a stack for iterative traversal
        let stack = [node];

        while (stack.length > 0) {
          // Pop a node from the stack
          let currentNode = stack.pop();

          // Check if currentNode is valid
          if (!currentNode || typeof currentNode.data === "undefined" || typeof currentNode.data.name === "undefined") {
            console.error("Node or node.data.name is undefined:", currentNode);
            continue;
          }

          // Check if it's a leaf node
          if (!currentNode.children || currentNode.children.length === 0) {
            leafNodes.push(currentNode.data.name); // Add the name to leafNodes
          } else {
            // Push children onto the stack
            for (let i = currentNode.children.length - 1; i >= 0; i--) {
              if (currentNode.children[i]) {
                stack.push(currentNode.children[i]);
              } else {
                console.error("Child node is undefined");
              }
            }
          }
        }
      }

      // Start the traversal from the root node (`tree.nodes` is `Node$1`)
      const rootNode = tree.nodes; // Assuming `Node$1` is the root node object

      if (!rootNode) {
        console.error("Unable to find the root node:", tree);
        return []; // Exit if the tree or root node is undefined
      }

      traverse(rootNode); // Start traversal from the root node
      return leafNodes;
    }

    // Modify the existing event listener for tag selection in add_tags() to update the list display
    function add_tags() {
      // d3.select("#tag-container").html(""); // Clear existing tags to avoid duplicates

      // Object to store selected tags grouped by category
      selectedTags = {};

      categories.forEach(category => {
        // Initialize each category in the selectedTags object
        selectedTags[category] = new Set();

        // Calculate counts for each tag in the current category
        const tagCounts = {};
        Object.values(metadata).forEach(m => {
          const tag = m[category];
          if (tag) {
            tagCounts[tag] = (tagCounts[tag] || 0) + 1;
          }
        });

        // Get unique tags for the current category
        let uniqueTags = Object.keys(tagCounts);
      });
    }

    // Maintain a set of selected tags for each category
    let selectedTagsByCategory = {};

    // Modified highlightCategory function to handle both highlighting and un-highlighting
    function highlightCategory(tree, value, category, isChecked) {
      // Initialize the category in the selectedTagsByCategory if it doesn't exist
      if (!selectedTagsByCategory[category]) {
        selectedTagsByCategory[category] = new Set();
      }

      // Add or remove the tag from the selected set based on checkbox state
      if (isChecked) {
        selectedTagsByCategory[category].add(value);
      } else {
        selectedTagsByCategory[category].delete(value);
      }

      // Get all leaf nodes in the tree
      let allLeafNodes = getAllLeafNodes(tree);

      // Iterate through all leaf nodes to either highlight or de-highlight nodes
      allLeafNodes.forEach(function (node) {
        const nodeData = metadata[node]; // Get metadata for the current node
        let shouldHighlight = false; // Determine if node should be highlighted

        if (nodeData) {
          // Check if the node matches any selected tag in any category
          for (const key in selectedTagsByCategory) { //REVIEW - for costly operation
            const selectedTags = selectedTagsByCategory[key];
            if (selectedTags.has(nodeData[key])) {
              shouldHighlight = true;
              break; // Stop checking further once a match is found
            }
          }
        }

        // Find the node in the DOM
        const nodeSelection = d3.select(`[data-node-name="${node}"]`);

        if (!nodeSelection.empty()) {
          // Add or remove the highlight based on whether it should be highlighted
          nodeSelection.classed("highlighted", shouldHighlight);
          console.log(`${shouldHighlight ? 'Highlighted' : 'De-highlighted'} node:`, node);
        } else {
          console.warn("Node not found in the DOM for:", node);
        }
      });
    }

    // Show tooltip function
    function showTooltip(event, identifier) {
      // Check if the identifier is a genome_id in metadata
      const data = metadata[identifier] || null;
      let tooltipHTML;

      if (data) {
        // If identifier is a genome_id, show detailed metadata
        tooltipHTML = `<strong>Genome ID:</strong> ${identifier}<br>`;
        Object.keys(data).forEach(key => {
          tooltipHTML += `<strong>${key}:</strong> ${data[key]}<br>`;
        });
      } else {
        // Otherwise, treat identifier as a simple tag
        tooltipHTML = `</strong> ${identifier}`;
      }

      // Display the tooltip
      d3.select(".tooltip")
        .html(tooltipHTML)
        .style("left", (event.pageX + 0) + "px")
        .style("top", (event.pageY - 40) + "px")
        .transition().duration(200)
        .style("opacity", 0.9);
    }

    // Hide tooltip function
    function hideTooltip() {
      d3.select(".tooltip")
        .transition().duration(500)
        .style("opacity", 0);
    }

    function createSquaresForNodes(tree, metadata, categories) {
      if (!tree || !tree.nodes) {
        console.error("Tree object is not initialized or nodes are not available.");
        return;
      }

      const squaresContainer = document.getElementById("squares_container");
      squaresContainer.innerHTML = ''; // Clear existing content

      const leafNodes = getAllLeafNodes(tree);

      // Create rows dynamically for each node
      leafNodes.forEach((genomeId) => {
        const metadataForNode = metadata[genomeId.trim()] || {};

        categories.forEach((category) => {
          const tag = metadataForNode[category] || "Missing"; // Default to "Missing" if no tag exists
          const element = document.createElement("div");
          element.setAttribute("data-category", category);
          element.setAttribute("data-original-title", tag);
          element.textContent = tag;
          element.classList.add("square");
          squaresContainer.appendChild(element);

          // Add event listeners for tooltips
          element.addEventListener("mouseover", function (event) {
            const tooltipContent = element.getAttribute("data-original-title") || "Missing";
            showTooltip(event, tooltipContent);
          });

          element.addEventListener("mouseout", hideTooltip);
        });
      });
    }

    function createCategoryLabels(categories) {
      const labelsContainer = document.getElementById("category_labels");
      labelsContainer.innerHTML = ''; // Clear existing content

      categories.forEach((category) => {
        const label = document.createElement("div");
        label.className = "category-label";
        label.textContent = category;
        labelsContainer.appendChild(label);
      });
    }

    // Function to generate separate dropdown menus for highlighting squares based on each category //REVIEW - unnecessary parts
    function addHighlightingDropdowns(metadata, categories) {
      const container = d3.select("#highlight-dropdowns-container");
      container.html(""); // Clear any existing dropdowns

      categories.forEach((category) => {

        // Create a dropdown for each category
        const dropdownDiv = container.append("div").attr("class", "dropdown mt-3");

        // Create a button for each category dropdown
        dropdownDiv.append("button")
          .attr("class", "btn btn-sm btn-secondary dropdown-toggle")
          .attr("type", "button")
          .attr("id", `${category}-dropdown`)
          .attr("data-bs-toggle", "dropdown")
          .attr("aria-haspopup", "true")
          .attr("aria-expanded", "false")
          .text(category);

        // Create the dropdown menu container
        const dropdownMenu = dropdownDiv.append("div")
          .attr("class", "dropdown-menu")
          .attr("aria-labelledby", `${category}-dropdown`)
          .attr("id", `highlight-${category}-dropdown`);

        // Calculate counts for each tag in the current category
        const tagCounts = {};
        Object.values(metadata).forEach((data) => {
          const tag = data[category];
          if (tag && tag.toLowerCase() !== "missing") { //REVIEW - don't know if "missing" is good here
            tagCounts[tag] = (tagCounts[tag] || 0) + 1;
          }
        });

        // Get unique tags for the current category and sort alphabetically
        const sortedTags = Object.keys(tagCounts).sort((a, b) => a.localeCompare(b));

        // Create dropdown items for each sorted tag with its count and ISO code for countries
        sortedTags.forEach((tag) => {
          const displayText = category
            ? `${tag}`
            : tag;

          // Create the dropdown item with the tag name, count, and country code if applicable
          const dropdownItem = dropdownMenu.append("a")
            .attr("class", "dropdown-item")
            .attr("href", "javascript:void(0);")
            .text(`${displayText} (${tagCounts[tag]})`)  // Display tag with count
            .on("click", function () {
              highlightSquaresByTag(category, tag);
            });
        });
      });
    }

    function highlightSquaresByTag(category, tag) {
  // Clear any previous highlights on squares and leaf nodes
  d3.selectAll(".square, .square").classed("highlighted", false); // Clear highlighted class for squares and square
  d3.selectAll(".leaf-node").style("stroke", null).style("fill", null); // Clear fill and stroke for leaf nodes

  // Track the active selection with selectedTagsByCategory
  selectedTagsByCategory = { [category]: new Set([tag]) };

  // Highlight squares that match the selected tag in the specified category
  d3.selectAll(".square, .square")
    .each(function () {
      const square = d3.select(this);
      const squareTag = square.attr("data-original-title"); // Use data-original-title to get the tag
      const squareCategory = square.attr("data-category");

      // Only highlight squares that match both the selected category and tag
      if (squareTag === tag && squareCategory === category) {
        square.classed("highlighted", true);
      }
    });

  // Get all leaf nodes from the tree
  const allLeafNodes = getAllLeafNodes(global_tree); // Assuming global_tree holds the tree data

  // Highlight leaf nodes that match the selected category and tag
  allLeafNodes.forEach((node) => {
    const nodeData = metadata[node]; // Get metadata for the current node
    let shouldHighlight = false;

    // Check if the node matches the selected tag in the selected category
    if (nodeData && selectedTagsByCategory[category].has(nodeData[category])) {
      shouldHighlight = true;
    }

    // Find the node in the DOM using its identifier
    const nodeSelection = d3.select(`[data-node-name="${node}"]`);

    if (!nodeSelection.empty()) {
      // Apply highlight styling to the node based on shouldHighlight
      nodeSelection
        .style("stroke", shouldHighlight ? "red" : null)
        .style("stroke-width", shouldHighlight ? "1px" : null);
    } else {
      console.warn("Node not found in the DOM for:", node);
    }
  });
}

    // Synchronize scrolling between two containers
    function synchronizeScroll(container1, container2, axis = "scrollLeft") {
      let isSyncing = false;
      
      // container1.addEventListener('scroll', function () {
      //   if (!isSyncing) {
      //     isSyncing = true;
      //     container2[axis] = container1[axis];
      //   }
      //   isSyncing = false;
      // });

      // container2.addEventListener('scroll', function () {
      //   if (!isSyncing) {
      //     isSyncing = true;
      //     container1[axis] = container2[axis];
      //   }
      //   isSyncing = false;
      // });
    }

    // Initialize scroll synchronization and sidebar toggle after DOM is loaded
    document.addEventListener("DOMContentLoaded", function () {
      const squaresContainer = document.querySelector('.squares-container');
      const labelsContainer = document.querySelector('.category-labels-container');
      // const treeContainer = document.querySelector(".tree-column");
      const matrixContainer = document.querySelector(".matrix-column");
      const toggleButton = document.getElementById("toggle-sidebar");
      const sidebar = document.getElementById("sidebar");

      // Synchronize horizontal scrolling between squares and labels
      if (squaresContainer && labelsContainer) {
        synchronizeScroll(squaresContainer, labelsContainer, "scrollLeft");
      }

      // Synchronize vertical scrolling between tree and matrix containers
      // if (treeContainer && matrixContainer) {
      //   synchronizeScroll(treeContainer, matrixContainer, "scrollTop");
      // }

      // Sidebar toggle functionality
      if (toggleButton && sidebar) {
        toggleButton.addEventListener("click", function () {
          sidebar.classList.toggle("collapsed");
          toggleButton.classList.toggle("active");
        });
      }
      $("#help_info").tooltip({
        title: "Hold <shift> while scrolling to scroll horizontally.",
        placement: "bottom"
      });
      let vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0);
      if (vw < 1100) {
        $("#toggle-sidebar").click();
      }
      if (vw < 800) {
        $("#toggle_iso_sidebar").click();
      }
    });

    initializeComponents();
    
  </script>
</body>
</html>