{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Stepped Line Chart</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <style>
        html, body {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        #container {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        html {
            font-size: 18px; /* Base font size for larger screens */
        }
    </style>
</head>
<body>

<div id="container"></div>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const species_name = (urlParams.get('species') || 'Unknown species').replace(/_/g, ' ');

    const template_screen_width = 602;
    const current_window_Width = window.innerWidth;
    const coefficient = current_window_Width / template_screen_width;

    function createChart(data) {
        // Convert JSON data to format suitable for Highcharts
        const dominantData = data.dominant.map(item => ({
            x: item.y + 1, // flip the x and y
            y: item.x,
        }));
        const variantData = data.variant.map(item => ({
            x: item.y + 1, // flip the x and y
            y: item.x,
        }));

        Highcharts.chart('container', {
            chart: {
                type: 'line',
                plotBorderWidth: 1,
                plotBorderColor: '#000000'
            },
            title: {
                text: 'Dominant versus Variant Amino Acid Frequency Distribution for ' + species_name + ' Genomes',
                style: {
                    fontSize: (1.1 * coefficient) + 'em',
                    color: '#000000'
                },
                align: 'center',
                x: 25 * coefficient,

            },
            xAxis: {
                type: 'logarithmic',
                title: {
                    text: 'Amino Acid Frequency',
                    style: {
                        fontSize: coefficient + 'em',
                        color: '#000000'
                    }
                },
                labels: {
                    style: {
                        fontSize: (0.9 * coefficient) + 'em',
                        color: '#000000'
                    },
                    formatter: function() {
                        if (this.value === 1) {
                            return '0';
                        }
                        const power = Math.round(Math.log(this.value) / Math.LN10);
                        const superscript = String(power).split('').map(digit => '⁰¹²³⁴⁵⁶⁷⁸⁹'[digit]).join('');
                        return '10' + superscript;
                    }
                },
                tickInterval: 1,
                tickWidth: 1,
                min: 1
            },
            yAxis: {
                title: {
                    text: 'Number of Genomes (normalized c = 0 - 1)',
                    style: {
                        fontSize: coefficient + 'em',
                        color: '#000000'
                    }
                },
                labels: {
                    align: 'center',
                    enable: true,
                    style: {
                        fontSize: (0.9 * coefficient) + 'em',
                        color: '#000000'
                    }
                },
                startOnTick: false,
                endOnTick: false,
                min: -0.05,
                tickWidth: 1,
                tickInterval: 0.1,
                gridLineWidth: 0,
                lineColor: '#000000'
            },
            legend: {
                align: 'center',
                verticalAlign: 'top',
                layout: 'horizontal',
                x: 25 * coefficient
            },
            tooltip: {
                formatter: function() {
                    // Subtract 1 from displayed y value in tooltip
                    const displayX = this.x - 1; // flip the x and y
                    const roundedY = Math.round(this.y * 100) / 100; // flip the x and y
                    return 'Amino Acid Frequency: ' + displayX+
                        '<br>(Normalized) Number of Gennome: ' + roundedY;
                }
            },
            series: [{
                name: 'Dominant',
                data: dominantData,
                step: 'right',
                color: '#EB1D36',
            }, {
                name: 'Variant',
                data: variantData,
                step: 'right',
                color: '#25316D',
            }],
            credits: {
                enabled: false
            }
        });
    }
    // Load the JSON data and create the chart
    createChart({{ dataset|safe }});
</script>
</body>
</html>