{% extends "index.html" %}
{% block page_title %}PangenomeLLM: Your Microbial Pangenomics Assistant{% endblock %}
{% block content %}
{% include "navigation.html" with active_page="ai_assistant" %}
<style>
    body {
        margin: 0;        /* Remove default margin */
        overflow: hidden;
        background-color: black;
        height: 100vh;
    }
    iframe {
        display: block;            /* iframes are inline by default */
        height: 100%;              /* Set height to 100% of the viewport height */
        width: 100vw;              /* Set width to 100% of the viewport width */
        border: none;              /* Remove default border */
        background-color: black;
    }
</style>
<iframe src="{{ AI_ASSISTANT_APP_URL }}"></iframe>
{% endblock %}
</html>