{% extends "index_with_infopanel.html" %}
{% block page_title %}Genes{% endblock %}

{% block header_load_datatables %}{% include 'tables/load_datatables.html' %}{% endblock %}

{% block header_content %}
{% include "navigation.html" with active_page="organisms" %}
{% include "search/search.html" %}
{% endblock %}

{% block infopanel_content %}
{% include 'pangenome_analyses/info_panel_genes.html' with active_subpage="genes" %}
{% endblock %}

{% block main_content %}
<div class="ps-2 pe-2 ps-md-3 pe-md-3">
{% include 'components/panel_genes_table.html' with panel_name="genes_table" panel_title="Gene Annotation Table" panel_class="col-lg-12" %}
</div>
<script>
    $(document).on('preInit.dt', function (e, settings) {
        if ($(window).height() >= "2100"){
            $('#genes_table').DataTable().page.len(40);
        } else if ($(window).height() >= "1700"){
            $('#genes_table').DataTable().page.len(30);
        } else if ($(window).height() >= "1300"){
            $('#genes_table').DataTable().page.len(20);
        } else {
            $('#genes_table').DataTable().page.len(10);
        }
    });
</script>
{% endblock %}
