{% extends "info_panel.html" %}
{% load static %}

{% block info_panel_titles %}
<h5 class="card-title display-5 text-break" style="hyphens: auto;">{{ speciesData.species }}</h5>
<h6 class="card-subtitle mb-2 text-body-secondary display-6"><a style="color: var(--bs-body-secondary-color); text-decoration-color: var(--bs-body-secondary-color) !important;" href="{% url 'organisms' %}?family={{ speciesData.family }}">{{ speciesData.family }}</a></h6>
{% endblock %}

{% block info_panel_nav %}
<ul class="nav nav-pills nav-fill ps-2 pe-2">
    <li class="nav-item">
        <a class="nav-link{% if active_subpage == 'overview' %} active{% endif %}" href="{% url 'pangenome_analyses_overview' %}?species={{ request.GET.species }}">Overview</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if active_subpage == 'genes' %} active{% endif %}" href="{% url 'pangenome_analyses_gene_annotation' %}?species={{ request.GET.species }}">Genes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if active_subpage == 'genomes' %} active{% endif %}" href="{% url 'pangenome_analyses_genome' %}?species={{ request.GET.species }}">Genomes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if active_subpage == 'phylogenetic_tree' %} active{% endif %}" href="{% url 'pangenome_analyses_phylogenetic_tree' %}?species={{ request.GET.species }}">Phylogenetic Tree</a>
    </li>
</ul>
{% endblock %}

{% block info_panel_content %}
<dl class="row g-1 fs-3">
    <dt class="col-sm-6">Genomes</dt>
    <dd class="col-sm-6"><a class="infopanel_link" href="{% url 'pangenome_analyses_genome' %}?species={{ request.GET.species }}">{{ speciesData.genomes_num }}</a></dd>

    <dt class="col-sm-6">Core Genes</dt>
    <dd class="col-sm-6"><a class="infopanel_link" href="{% url "pangenome_analyses_gene_annotation" %}?species={{ request.GET.species }}&class=Core">{{ speciesData.gene_class_distribution.0 }}</a></dd>
    <dt class="col-sm-6">Accessory Genes</dt>
    <dd class="col-sm-6"><a class="infopanel_link" href="{% url "pangenome_analyses_gene_annotation" %}?species={{ request.GET.species }}&class=Accessory">{{ speciesData.gene_class_distribution.1 }}</a></dd>
    <dt class="col-sm-6">Rare Genes</dt>
    <dd class="col-sm-6"><a class="infopanel_link" href="{% url "pangenome_analyses_gene_annotation" %}?species={{ request.GET.species }}&class=Rare">{{ speciesData.gene_class_distribution.2 }}</a></dd>
    <dt class="col-sm-6">Openness</dt>
    <dd class="col-sm-6">{{ speciesData.openness }}</dd>

</dl>
{% endblock %}
