{% extends "pangenome_analyses/info_panel.html" %}

{% block info_panel_page_nav %}
<div class="list-group" id="page-nav">
    <a class="list-group-item list-group-item-action list-group-item-secondary" href="#general">General Analysis</a>
    <a class="list-group-item list-group-item-action list-group-item-secondary" href="#presence_absence">Gene Presence/Absence</a>
    <a class="list-group-item list-group-item-action list-group-item-secondary" href="#alleleome">Alleleome</a>
</div>
{% endblock %}