{% extends "pangenome_analyses/Pangenome_analyses.html" %}

{% block custom_style %}
    <style>
        .row {
            margin-left: 0;
            margin-right: 0;
        }
        .custom-padding {
            padding-left: 30px;
            padding-right: 20px;
        }
        .figure-container_above,
        .figure-container_below {
            height: 42.5vh; /* This is 50% of the viewport height */
            padding-bottom: 0%;
            margin-bottom: 0;
            margin-top: 0;
        }
        .figure-container_above iframe,
        .figure-container_below iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .border-container {
            border: 0px solid rgba(0, 0, 0, 0.09);
            /* Add other styles as needed */
        }
        .services-section img {
            margin: auto;
            display: block;
        }
        .responsive-iframe {
            position: relative;
            width: 100%;
            padding-bottom: 0;
        }
        .responsive-iframe iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 10%;
            right: 0;
            width: 100%;
            height: 100%;
        }
        .row-spacing {
            margin-bottom: 2rem;
        }
        /* Remove spacing from Bootstrap columns */
        .col-12.col-md-6 > *:not(:last-child) {
            margin-bottom: 0; /* Change this value */
        }
        #loading-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 1);  /* or any other color */
            z-index: 9999;  /* or any large number to ensure overlay is on top */
            display: flex;
            justify-content: center;
            align-items: center; /* center the text */
            opacity: 1;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="loading-overlay">
        <p>Loading, please wait...</p>
    </div>
    <!-- Include the top navigation panel, which is the same for every page -->
    {% include "navigation.html" with home_link_style="nav-link" about_link_style="nav-link" organisms_link_style="nav-link" publications_link_style="nav-link" ai_assistant_link_style="nav-link" %}
    <!-- ######### -->

    <!-- Include the search bar under the top navigation panel: -->
    {%  include "search/search_bar.html" with search_bar_style="navbar-non-landing" %}
    <!-- ######### -->

    <div class="vh-100">
        <div class="row">
            <!-- Include the info panel on the left (it is shared between several templates) -->
            {% include 'pangenome_analyses/info_panel.html' %}
            <!-- ######### -->
            <div class="col-10 custom-padding">
                <div class="container-fluid">
                    <div class="row row-spacing border-container gx-0 gx-md-2">
                        <h2 class="text-center" style="font-size: 1.6rem">Heap's Law and Gene Frequency</h2>
                        <div class="col-12 col-md-6">
                            <div class="figure-container_above responsive-iframe">
                                <iframe style="border: 0" id="Heaps_Law"></iframe>
                            </div>
                            <br>
                            <div class="figure-container_below responsive-iframe">
                                <iframe id="Barplot" name="Barplot" style="border: 0"></iframe>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="figure-container_above responsive-iframe">
                                <iframe style="border: 0" id="Cumulative_Frequency"></iframe>
                            </div>
                            <br>
                            <div class="figure-container_below responsive-iframe">
                                <iframe style="border: 0" id="Gene_frequency"></iframe>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row border-container" style="height: 80vh">
                        <div class="col-12" style="height: 100%">
                            <h2 class="text-center" style="font-size: 1.6rem">Presence/Absence Matrix</h2>
                            <div class="dropdown">
                                <!-- The button styles from Bootstrap:
                                https://getbootstrap.com/docs/5.3/components/buttons/ -->
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    Select Gene Class
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="heatmapDropdown">
                                    <li><a class="dropdown-item" href="#" onclick="updateMatrix('core', 'Core (default)'); return false;">Core (default)</a></li>
                                    <li><a class="dropdown-item" href="#" onclick="updateMatrix('accessory', 'Accessory'); return false;">Accessory</a></li>
                                    <li><a class="dropdown-item" href="#" onclick="updateMatrix('1_15', 'Rare: Occurs 1% - 15% of strains'); return false;">Rare: Occurs 1% - 15% of strains</a></li>
                                    <li><a class="dropdown-item" href="#" onclick="updateMatrix('above_1', 'Rare: Occurs < 1% of strains, but > 2 strains'); return false;">Rare: Occurs < 1% of strains, but > 2 strains</a></li>
                                    <li><a class="dropdown-item" href="#" onclick="updateMatrix('only_1', 'Rare: Unique genes'); return false;">Rare: Unique genes</a></li>
                                </ul>
                                <form name="downloadMatrixForm" action="{% url 'download_matrix_csv' %}" method="GET" style="display: inline">
                                    <input type="hidden" name="species" id="form_species" value="{{ request.GET.species }}" />
                                    <input type="hidden" name="gene_class" id="form_gene_class" value="core" />
                                    <button class="btn btn-secondary" type="submit">Download CSV</button>
                                </form>
                            </div>
                            <br>
                            <div class="d-flex justify-content-center align-items-center h-100" >
                                <iframe id="heatmap_all" class="w-100 h-100" style="border: 0"></iframe>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="row border-container" style="height: 80vh">
                        <h2 class="text-center" style="font-size: 1.6rem">Alleleome</h2>
                        <div class="col-1">
                            <!-- Empty column -->
                        </div>

                        <div class="col-5" style="height: 70vh;">
                            <div class="d-flex justify-content-center align-items-center h-100">
                                <iframe id="step_histogram" class="w-100 h-100" style="border: 0"></iframe>
                            </div>
                        </div>

                        <div class="col-5" style="height: 70vh">
                            <div class="d-flex justify-content-center align-items-center h-100">
                                <iframe id="dn_ds" class="w-100 h-100" style="border: 0"></iframe>
                            </div>
                        </div>

                        <div class="col-1">
                            <!-- Empty column -->
                        </div>

                    </div>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Obtain the species name from the url: ----
            const urlParams = new URLSearchParams(window.location.search);
            const species = urlParams.get('species');

            // Set the initial src property values for different elements: ----
            document.getElementById('Heaps_Law').src = "{% url 'heaps_law' %}?species=" + species;
            document.getElementById('Barplot').src = "{% url 'gene_annotation_distribution' %}?species=" + species;
            document.getElementById('Gene_frequency').src = "{% url 'gene_freq' %}?species=" + species;
            document.getElementById('Cumulative_Frequency').src = "{% url 'cumulative_freq' %}?species=" + species;
            document.getElementById('heatmap_all').src = "{% url 'hotmap' %}?species=" + species + "&gene_class=core"
            document.getElementById('step_histogram').src = "{% url 'variant_dominant_freq' %}?species=" + species;
            document.getElementById('dn_ds').src = "{% url 'ds_dn_ratio' %}?species=" + species;

            // Species Data from the info panel
            speciesData = {{ speciesData | safe }}

            if (speciesData) {
                // Determine the timeout duration based on the number of genomes
                const timeoutDuration = speciesData.Number_of_genome > 1000 ? 5000 : 3000;

                setTimeout(function() {
                    const overlay = document.getElementById('loading-overlay');
                    if (overlay) {
                        overlay.parentNode.removeChild(overlay);
                    }
                }, timeoutDuration);
                console.log('timeoutDuration: ', timeoutDuration);
            }
        });

        /*
        A function that updates:
        - the Presence/Absence Matrix content;
        - the dropdown select list button text;
        - the download matrix hidden get parameter (gene_class) value
        based on the gene class chosen in the dropdown select list.
        */
        function updateMatrix(gene_class, gene_class_text) {
            // Obtain the species name from the url: ----
            const urlParams = new URLSearchParams(window.location.search);
            const species = urlParams.get('species');

            // Update the iframe src property value: ----
            document.getElementById('heatmap_all').src = '{% url "hotmap" %}?species=' + species + '&gene_class=' + gene_class;

            // Update dropdown select list button text: ----
            document.getElementById('dropdownButton').textContent = gene_class_text;

            // Update the download form hidden element (gene_class) value: ----
            document.getElementById('form_gene_class').value = gene_class;
        }
    </script>
{% endblock %}