{% extends "index_with_infopanel.html" %}
{% block page_title %}Phylogenetic Tree{% endblock %}

{% block header_content %}
{% include "navigation.html" with active_page="organisms" %}
{% include "search/search.html" %}
{% endblock %}

{% block infopanel_content %}
{% include 'pangenome_analyses/info_panel_phylogenetic_tree.html' with active_subpage="phylogenetic_tree" %}
{% endblock %}

{% block main_content %}
<div class="container-fluid ps-2 pe-2 ps-md-3 pe-md-3">
    {% url 'phylotree_plot' as url_phylogenetic_tree %}
    {% include 'components/panel_iframe.html' with panel_name="phylogenetic_tree" panel_title="Phylogenetic Tree" panel_iframe_src=url_phylogenetic_tree|add:"?species="|add:request.GET.species panel_class="col-lg-12" panel_iframe_class="responsive-iframe-full" %}
</div>
{% endblock %}