{% extends "components/panel_universal.html" %}
{% block panel_content %}
<table id="publications_table" class="table table-hover" style="width: 100%;">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Title</th>
    </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
</table>
<script>
    $(document).ready(async function () {
        const dataset = {{ dataset|safe }}

        let table = $('#publications_table').DataTable({
            data: dataset,
            autoWidth: true,
            scrollX: true,
            columns: [
                {
                    data: 'source',
                    render: function(data, type, row) {
                        if (type === 'display') {
                            return '<a href="' + data + '" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/><path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/></svg></a>';
                        } else return data;
                    },
                    width: '30%',
                },
                {
                    data: 'title',
                },
            ],
            language: {
                loadingRecords: 'Loading...',
                zeroRecords: 'Result not found.'
            },
            order: [],
            bSort: true,
            searching: true,
            lengthMenu: [
                [10, 20, 30, 40, 50, 100, -1],
                [10, 20, 30, 40, 50, 100, 'All']
            ],
        });
    });
</script>
{% endblock %}