{% extends "components/panel_universal.html" %}
{% block panel_content %}
<table id="publications_table" class="table table-hover" style="width: 100%;">
    <thead>
    <tr>
        <th>Title</th>
        <th>PMID</th>
    </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
</table>
<script>
    $(document).ready(async function () {
        const dataset = {{ dataset|safe }}

        let table = $('#publications_table').DataTable({
            data: dataset,
            autoWidth: true,
            scrollX: true,
            columns: [
                {
                    data: 'Title',
                },
                {
                    data: 'PMID',
                    render: function(data, type, row) {
                        if (type === 'display') {
                            return '<a href=https://pubmed.ncbi.nlm.nih.gov/' + data + '/ target="_blank">' + data + '</a>';
                        } else return data;
                    },
                    width: '200px',
                },
            ],
            language: {
                loadingRecords: 'Loading...',
                zeroRecords: 'Result not found.'
            },
            order: [],
            bSort: true,
            searching: true,
            lengthMenu: [
                [10, 20, 30, 40, 50, 100, -1],
                [10, 20, 30, 40, 50, 100, 'All']
            ],
        });
    });
</script>
{% endblock %}