{% extends "components/panel_universal.html" %}
{% block panel_content %}
<table id="pathway_genes_table" class="table table-hover" style="width: 100%;">
    <thead>
    <tr>
        <th class="text-center"><div class="d-flex flex-column align-items-center"><div>Gene</div></div></th>
        <th class="text-center"><div class="d-flex flex-column align-items-center"><div>Species</div></div></th>
        <th class="text-center"><div class="d-flex flex-column align-items-center"><div>Family</div></div></th>
        <th class="text-center"><div class="d-flex flex-column align-items-center"><div>Product</div></div></th>
        <th class="text-center"><div class="d-flex flex-column align-items-center"><div>Class</div></div></th>
        <th class="text-center"><div class="d-flex flex-column align-items-center"><div>KEGG Orthology</div></div></th>
    </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
</table>
<script>
    $(document).ready(async function () {
        const geneData = {{ dataGenes | safe}};

        let pathway_genes_table = $('#pathway_genes_table').DataTable({
            responsive: true,
            lengthChange: false,
            paging: true,
            destroy: true,
            order: [],   // preserve the original order (needed to order by relevance)
            data: geneData,
            columns: [
                {
                    data: 'gene',
                    render: function (data, type, row) {
                        return '<a href="{% url 'gene_info' %}?species=' + row["pangenome_analysis"] + '&gene=' + data + '">' + data + '</a>';
                    }
                },
                {
                    data: 'species',
                    render: function (data, type, row) {
                        return '<a href="{% url 'pangenome_analyses_overview' %}?species=' + row["pangenome_analysis"] + '">' + data + '</a>';
                    }
                },
                {
                    data: 'family',
                    render: function (data, type, row) {
                        return '<a href="{% url 'organisms' %}?family=' + data + '">' + data + '</a>';
                    }
                },
                {
                    data: 'protein',
                },
                {
                    data: 'pangenomic_class',
                },
                {
                    data: 'kegg_ko',
                    render: function(data, type, row) {
                        return data.join(', ') + '&nbsp;&nbsp;<a style="font-size: 0.8em; font-style: italic;" href="' + row["kegg_link"] + '" target="_blank">(highlight)</a>';
                    }
                }
            ],
            language: {
                loadingRecords: 'Loading...',
                zeroRecords: 'No data available in table'
            },
            initComplete: function () {
                const api = this.api();
                
                // Existing column search code
                $(this.api().table().header()).find('th').each(function (index, th) {
                    const columnHeader = $(th).find('div').first();
                    const columnIndex = index;

                    const searchInput = $('<input type="text" class="form-control form-control-sm" placeholder="Search" style="width: 60%; display: flex;" />')
                        .on('keyup change clear', function () {
                            api.column(columnIndex).search(this.value).draw();
                        })
                        .on('click', function(e) {  // Prevent event bubbling on click
                            e.stopPropagation();
                        });

                    $(searchInput).appendTo(columnHeader);
                });
            }
        });
        // Expand row on click
        $('#pathway_genes_table tbody').on('click', 'td', function () {
            const row = $(this).closest('tr');
            row.toggleClass('expanded-row')
        });
    });
</script>
{% endblock %}