{% extends "components/panel_universal.html" %}
{% block panel_content %}
<table id="genes_table" class="table table-hover display" style="width: 100%;">
    <thead>
    <tr>
        <th>Gene</th>
        <th>Class</th>
        <th>COG</th>
        <th>COG Name</th>
        <th>Description</th>
        <th>Protein</th>
        <th>PFAMs</th>
        <th>Count</th>
    </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
    <tfoot>
        <tr>
            <th>Gene</th>
            <th>Class</th>
            <th>COG</th>
            <th>COG Name</th>
            <th>Description</th>
            <th>Protein</th>
            <th>PFAMs</th>
            <th>Count</th>
        </tr>
    </tfoot>
</table>
<script>
    var genes_table = null;

    $(document).ready(async function () {
        data = {{ dataset|safe }}

        const Gene = data;

        genes_table = $('#genes_table').DataTable({
            data: Gene,
            autoWidth: true,
            fixedColumns: true,
            scrollX: true,
            columns: [
                {
                    data: '0',
                    render: function (data, type, row) {
                        return '<a href=" {% url 'gene_info' %}?species=' + row[8] + '&gene=' + encodeURIComponent(data) + '">' + data + '</a>';
                    },
                },
                {
                    data: '7',
                },
                {
                    data: '1',
                },
                {
                    data: '2',
                    render: function (data, type, row) {
                        return wrap_table_text(data, '160px')
                    },
                },
                {
                    data: '3',
                    render: function (data, type, row) {
                        return wrap_table_text(data, '240px')
                    },
                },
                {
                    data: '4',
                    render: function (data, type, row) {
                        return wrap_table_text(data, '220px')
                    },
                    className: 'protein',
                },
                {
                    data: '5',
                    render: function (data, type, row) {
                        return wrap_table_text(data, '120px')
                    },
                    className: 'pfams',
                },
                {
                    data: '6',
                    width: '80px',
                }
            ],
            language: {
                loadingRecords: 'Loading...',
                zeroRecords: 'Result not found.'
            },
            initComplete: function () {
                this.api()
                    .columns()
                    .every(function () {
                        var column = this;
                        var title = column.footer().textContent;
        
                        // Create input element and add event listener
                        $('<input type="text" class="form-control" placeholder="' + title + '" />')
                            .appendTo($(column.footer()).empty())
                            .on('keyup change clear', function () {
                                if (column.search() !== this.value) {
                                    column.search(this.value).draw();
                                }
                            });
                    });

                {% if highlight_text %}
                let queryString = window.location.search;
                let urlParams = new URLSearchParams(queryString);
                let q = urlParams.get('q')
                highlightText(q);
                {% endif %}
            }
        });

        {% if highlight_text %}
        genes_table.on("draw", function () {
            let queryString = window.location.search;
            let urlParams = new URLSearchParams(queryString);
            let q = urlParams.get('q')
            highlightText(q);
        });
        {% endif %}

        // Expand row on click
        $('#genes_table tbody').on('click', 'td', function () {
            const row = $(this).closest('tr');
            row.toggleClass('expanded-row')
        });
    });
</script>
{% endblock %}